<section id="unihan-data-finder-unit">
    <div class="plain-panel">
        <div class="tab-bar">
            <label class="tab-label"><input class="tab-radio" type="radio"><span>Find by Property</span></label>
            <label class="tab-label"><input class="tab-radio" type="radio"><span>Match Character</span></label>
            <label class="tab-label"><input class="tab-radio" type="radio"><span>View by Grid</span></label>
        </div>
        <div class="tab-panes">
            <div class="tab-pane find-by-property">
                <div class="actions">
                    <div class="action-group property-group">
                        <span class="action">
                            <select class="property-select" title="Unihan property"></select>
                        </span>
                        <span class="checkbox-group">
                            <span class="action">
                                <label class="checkbox"><input class="categories-checkbox" type="checkbox">&nbsp;Categories</label>
                            </span>
                        </span>
                    </div>
                    <div class="action-group search-group">
                        <span class="action search-wrap">
                            <input class="search-string" type="search" maxlength="384" placeholder="Unihan property value…">
                            <span class="search-message"></span>
                        </span>
                        <span class="action">
                            <label title="Case Sensitive (disabled)"><input class="case-sensitive icon-checkbox" type="checkbox" disabled><svg><use href="/images/search.svg#case-sensitive-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <label title="Whole Word"><input class="whole-word icon-checkbox" type="checkbox"><svg><use href="/images/search.svg#whole-word-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <label title="Regular Expression"><input class="use-regex icon-checkbox" type="checkbox"><svg><use href="/images/search.svg#use-regex-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <button class="search-button" type="button">Search</button>
                        </span>
                    </div>
                </div>
                <div class="results">
                    <button class="pull-down-menu results-button" type="button" title="Search Results"><svg class="gear"><use href="/images/actions.svg#gear"></use></svg></button><span class="results-string">Characters:&nbsp;<span class="hit-count"></span>&nbsp;/&nbsp;<span class="total-count"></span></span>
                </div>
                <div class="search-data"></div>
            </div>
            <div class="tab-pane match-character">
                <div class="actions">
                    <span class="action-group search-group">
                        <span class="action search-wrap">
                            <input class="search-string" type="search" maxlength="256" placeholder="Character…">
                            <span class="search-message"></span>
                        </span>
                        <span class="action">
                            <label title="Match Variants"><input class="match-variants icon-checkbox" type="checkbox"><svg><use href="/images/search.svg#match-variants-icon"></use></svg></label>
                        </span>
                        <span class="action">|</span>
                        <span class="action">
                            <label title="Case Sensitive (disabled)"><input class="case-sensitive icon-checkbox" type="checkbox" disabled><svg><use href="/images/search.svg#case-sensitive-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <label title="Whole Word (disabled)"><input class="whole-word icon-checkbox" type="checkbox" disabled><svg><use href="/images/search.svg#whole-word-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <label title="Regular Expression"><input class="use-regex icon-checkbox" type="checkbox"><svg><use href="/images/search.svg#use-regex-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <button class="search-button" type="button">Search</button>
                        </span>
                    </span>
                </div>
                <div class="results">
                    <button class="pull-down-menu results-button" type="button" title="Search Results"><svg class="gear"><use href="/images/actions.svg#gear"></use></svg></button><span class="results-string">Characters:&nbsp;<span class="hit-count"></span>&nbsp;/&nbsp;<span class="total-count"></span></span>
                </div>
                <div class="search-data"></div>
            </div>
            <div class="tab-pane view-by-grid">
                <div class="actions">
                    <span class="action-group">
                        <span class="action">
                            <select class="select-block-name"></select>
                        </span>
                    </span>
                    <span class="action-group">
                        <span class="action">
                            <select class="select-block-range"></select>
                        </span>
                        <span class="action">
                            <button class="pull-down-menu history-button" type="button" title="Specimen History"><svg class="history"><use href="/images/actions.svg#history"></use></svg></button>
                        </span>
                        <span class="action">
                            <input class="specimen" type="search" maxlength="64" title="Unihan specimen (character or code point)" placeholder="Specimen…">
                        </span>
                        <span class="action">
                            <button class="go-button" type="button">Go</button>
                        </span>
                    </span>
                </div>
                <div class="results">
                    <button class="pull-down-menu results-button" type="button" title="Results"><svg class="gear"><use href="/images/actions.svg#gear"></use></svg></button><span class="results-string">Characters:&nbsp;<span class="hit-count"></span>&nbsp;/&nbsp;Block size:&nbsp;<span class="total-count"></span></span>
                </div>
                <div class="search-data"></div>
            </div>
        </div>
    </div>
    <div class="tab-infos">
        <div class="tab-info find-by-property">
            <div class="accent-panel">
                <details class="instructions">
                    <summary>Instructions</summary>
                    <ul>
                        <li>The <strong>Find by Property</strong> feature of the <strong>Unihan Data Finder</strong> utility displays a list of basic data (character, code point, property, value, block) of matching Unihan characters searched by property value, including through regular expressions.</li>
                        <li>Use the <kbd>Unihan Property</kbd> drop-down menu to select the property you wish to search value by.</li>
                        <li>Use the <kbd>Categories</kbd> checkbox to toggle between: all Unihan properties ordered alphabetically, or grouped by categories in the drop-down menu.</li>
                        <li>After entering a query, click on the <kbd>Search</kbd> button to display a list of all relevant matches, if any, ordered by code point value.</li>
                        <li>It is possible to choose how many characters are shown one page at a time.</li>
                        <li>The search is performed on the 98,682 Unihan characters (or code points) defined in <strong>Unicode 16.0</strong>, in the set of data files contained in the <a title="https://www.unicode.org/Public/16.0.0/ucd/Unihan.zip" href="https://www.unicode.org/Public/16.0.0/ucd/Unihan.zip">Unihan.zip</a> archive file:
                            <ul>
                                <li><em>Unihan_DictionaryIndices.txt</em></li>
                                <li><em>Unihan_DictionaryLikeData.txt</em></li>
                                <li><em>Unihan_IRGSources.txt</em></li>
                                <li><em>Unihan_NumericValues.txt</em></li>
                                <li><em>Unihan_OtherMappings.txt</em></li>
                                <li><em>Unihan_RadicalStrokeCounts.txt</em></li>
                                <li><em>Unihan_Readings.txt</em></li>
                                <li><em>Unihan_Variants.txt</em></li>
                            </ul>
                        </li>
                        <li>Use the <kbd>Search Results&nbsp;▾</kbd> pop-up menu to perform an action among:
                            <ul>
                                <li><code>Copy Search Results</code> [copy the search results as string to the clipboard]</li>
                                <li><code>Save Search Results...</code> [save the search results as string to a text file]</li>
                                <li><code>Clear Search Results</code> [clear the current list of search results]</li>
                            </ul>
                        </li>
                        <li>Various examples of regular expressions are provided for quick copy-and-paste.</li>
                    </ul>
                </details>
                <details class="regex-examples">
                    <summary>Regex Examples</summary>
                    <p><kbd>kDefinition</kbd></p>
                    <ul>
                        <li>Unihan characters whose 'kDefinition' property value contains the word "ping" or "pong":<br><code class="select-all">\bp[io]ng\b</code></li>
                        <li>Unihan characters whose 'kDefinition' property value contains both "black" and "white":<br><code class="select-all">(?=.*black)(?=.*white)</code></li>
                        <li>Unihan characters whose 'kDefinition' property value contains either "'male' principle" or "'female' principle":<br><code class="select-all">'(fe)?male' principle</code></li>
                        <li>Unihan characters whose 'kDefinition' property value contains four successive characters with the 'Script' property equal to 'Han':<br><code class="select-all">\p{Script=Han}{4}</code></li>
                    </ul>
                    <p><kbd>kIICore</kbd></p>
                    <ul>
                        <li>Unihan characters whose 'kIICore' property value exists, i.e., which belong to the 'International Ideographs Core' set of 9,810 CJK unified ideographs in common usage:<br><code class="select-all">.</code> or <code class="select-all">[^]</code> or <code class="select-all">[\s\S]</code></li>
                    </ul>
                    <p><kbd>kJapanese</kbd></p>
                    <ul>
                        <li>Unihan characters whose 'kJapanese' property value contains a string in <em>hiragana</em> corresponding to Japanese names for some common radical forms:<br><code class="select-all">さんずい|にすい|にんべん|りっしんべん</code></li>
                    </ul>
                    <p><kbd>kJapaneseKun</kbd></p>
                    <ul>
                        <li>Unihan characters whose 'kJapaneseKun' property value is "kita" or "higashi" or "minami" or "nishi", i.e., the four cardinal directions: North, East, South, West:<br><code class="select-all">^(kita|higashi|minami|nishi)$</code></li>
                    </ul>
                    <p><kbd>kJapaneseOn</kbd></p>
                    <ul>
                        <li>Unihan characters whose 'kJapaneseOn' property value is either "ichi" or "itsu":<br><code class="select-all">^(ichi|itsu)$</code></li>
                    </ul>
                    <p><kbd>kPrimaryNumeric</kbd></p>
                    <ul>
                        <li>Unihan characters whose 'kPrimaryNumeric' property value is a power of 10:<br><code class="select-all">10*</code></li>
                    </ul>
                    <p><kbd>kRSUnicode</kbd></p>
                    <ul>
                        <li>Unihan characters whose 'kRSUnicode' property value corresponds to a KangXi or CJK radical #212 (Dragon) plus 0 strokes:<br><code class="select-all">^212'*\.0</code></li>
                    </ul>
                    <p><kbd>kStrange</kbd></p>
                    <ul>
                        <li>Unihan characters whose 'kStrange' property value is at least 20 characters long:<br><code class="select-all">.{20}</code></li>
                    </ul>
                    <p><kbd>kTotalStrokes</kbd></p>
                    <ul>
                        <li>Unihan characters whose 'kTotalStrokes' property value corresponds to a total stroke count of 40 or more:<br><code class="select-all">[4-9]\d</code></li>
                    </ul>
                    <p><kbd>kUnihanCore2020</kbd></p>
                    <ul>
                        <li>Unihan characters whose 'kUnihanCore2020' property value exists, i.e., which belong to the 'Unihan Core (2020)' set of 20,720 CJK unified and compatibility ideographs, minimal set of required ideographs for East Asia:<br><code class="select-all">.</code> or <code class="select-all">[^]</code> or <code class="select-all">[\s\S]</code></li>
                    </ul>
                </details>
                <details class="references">
                    <summary>Reference Links</summary>
                    <div class="links"></div>
                </details>
            </div>
        </div>
        <div class="tab-info match-character">
            <div class="accent-panel">
                <details class="instructions">
                    <summary>Instructions</summary>
                    <ul>
                        <li>The <strong>Match Character</strong> feature of the <strong>Unihan Data Finder</strong> utility displays a list of basic data (character, code point, age, set, ideograph status, block) of matching Unihan characters, including through regular expressions.</li>
                        <li>After entering a query, click on the <kbd>Search</kbd> button to display a list of all relevant matches, if any, ordered by code point value.</li>
                        <li>Click on the <kbd><svg style="width: 15px; height: 15px; vertical-align: text-bottom; stroke: var(--color);"><use href="/images/search.svg#match-variants-icon"></use></svg></kbd> (<em>Match Variants</em>) toggle button to extend the search to characters whose <em>variants</em> match the query string.</li>
                        <li>Unihan variants, if any, are displayed in a distinctive muted (grayed out) style.</li>
                        <li>It is possible to choose how many characters are shown one page at a time.</li>
                        <li>The search is performed on the set of 98,682 Unihan characters defined in <strong>Unicode 16.0</strong>.</li>
                        <li>Use the <kbd>Search Results&nbsp;▾</kbd> pop-up menu to perform an action among:
                            <ul>
                                <li><code>Copy Search Results</code> [copy the search results as string to the clipboard]</li>
                                <li><code>Save Search Results...</code> [save the search results as string to a text file]</li>
                                <li><code>Clear Search Results</code> [clear the current list of search results]</li>
                            </ul>
                        </li>
                        <li>Various examples of regular expressions are provided for quick copy-and-paste.</li>
                    </ul>
                </details>
                <details class="regex-examples">
                    <summary>Regex Examples</summary>
                    <p><span class="match-variants off"><svg><use href="/images/search.svg#match-variants-icon"></use></svg></span> (<em>Match Variants</em>) toggled <strong>off</strong>:</p>
                    <ul>
                        <li>All Unihan characters:<br><code class="select-all">.</code> or <code class="select-all">[^]</code> or <code class="select-all">[\s\S]</code></li>
                        <li>Unihan characters with the 'unified ideograph' status:<br><code class="select-all">\p{Unified_Ideograph}</code></li>
                        <li>Unihan characters with the 'compatibility ideograph' status:<br><code class="select-all">[^\p{Unified_Ideograph}]</code> or <code class="select-all">\P{Unified_Ideograph}</code></li>
                        <li>Unihan characters belonging to the 'CJK Compatibility Ideographs' block, but with a 'unified ideograph' status instead:<br><code class="select-all">(?=[\uF900-\uFAFF])\p{Unified_Ideograph}</code></li>
                        <li>Unihan characters belonging to the 'CJK Unified Ideographs Extension I' block:<br><code class="select-all">[\u{2EBF0}-\u{2EE5D}]</code> or <code class="select-all">[𮯰-𮹝]</code></li>
                        <li>Twelve consecutive Unihan characters in a range, from 龍 (U+9F8D) to 龘 (U+9F98):<br><code class="select-all">[龍-龘]</code></li>
                    </ul>
                    <p><span class="match-variants on"><svg><use href="/images/search.svg#match-variants-icon"></use></svg></span> (<em>Match Variants</em>) toggled <strong>on</strong>:</p>
                    <ul>
                        <li>Unihan characters made up of the ideographs 邑 and 阜, and their common variant form 阝:<br><code class="select-all">邑|阜</code></li>
                        <li>Unihan characters belonging to the set of three ideographs: 上, 中 and 下, along with their variants: 丄, 塚 and 丅:<br><code class="select-all">[上中下]</code></li>
                    </ul>
                </details>
                <details class="references">
                    <summary>Reference Links</summary>
                    <div class="links"></div>
                </details>
            </div>
        </div>
        <div class="tab-info view-by-grid">
            <div class="accent-panel">
                <details class="instructions">
                    <summary>Instructions</summary>
                    <ul>
                        <li>The <strong>View by Grid</strong> feature of the <strong>Unihan Data Finder</strong> utility displays in real time a grid view of each of the 12 blocks containing the 98,682 Unihan characters defined in <strong>Unicode 16.0</strong>.</li>
                        <li>It is possible to choose how many characters are shown one page at a time.</li>
                        <li>A block can be selected either by <kbd>Block Name</kbd> or by <kbd>Block Range</kbd>.</li>
                        <li>It is also possible to directly enter a Unihan character or code point in the <kbd>Specimen</kbd> field, then click on the <kbd>Go</kbd> button to automatically select the block containing the character, scroll it into view, and highlight it.</li>
                        <li>You can quickly reuse a previously entered Unihan character by using the <kbd>Alt</kbd>+<kbd>↑</kbd> and <kbd>Alt</kbd>+<kbd>↓</kbd> keyboard shortcuts to navigate up and down through the history stack in the <kbd>Specimen</kbd> field. Alternatively, you can also use the <kbd>Specimen&nbsp;History&nbsp;▾</kbd> pop-up menu to automatically jump to a specific character.</li>
                        <li>Use the <kbd>Results&nbsp;▾</kbd> pop-up menu to perform an action among:
                            <ul>
                                <li><code>Copy Results</code> [copy the results as string to the clipboard]</li>
                                <li><code>Save Results...</code> [save the results as string to a text file]</li>
                            </ul>
                        </li>
                        <li>A list of all the Unihan blocks is available for quick reference.</li>
                    </ul>
                </details>
                <details class="unihan-blocks">
                    <summary>Unihan Blocks</summary>
                    <div class="blocks"></div>
                </details>
                <details class="references">
                    <summary>Reference Links</summary>
                    <div class="links"></div>
                </details>
            </div>
        </div>
    </div>
</section>
