<section id="unihan-variants-unit">
    <div class="plain-panel">
        <div class="interface">
            <span class="option-group">
                <button class="pull-down-menu history-button" type="button" title="Lookup History"><svg class="history"><use href="/images/actions.svg#history"></use></svg></button>
                <input class="unihan-input" type="search" maxlength="64" title="Unihan character or code point" placeholder="Unihan…">
                <button class="look-up-button" type="button">Look Up</button>
            </span>
            <span class="option-group">
                <label class="checkbox" title="If checked, Yasuoka variants are also included;&#10;if unchecked, only the standard Unihan (plus Japanese) variants are listed"><input class="extra-variants-checkbox" type="checkbox">&nbsp;Extra Variants</label>
            </span>
        </div>
        <table class="linear-wrapper">
            <tr class="linear-row characters">
                <td class="linear-character"></td><td class="linear-gap"></td><td class="linear-variants"></td>
            </tr>
            <tr class="linear-row-gap"></tr>
            <tr class="linear-row code-points">
                <td class="linear-code-point"></td><td class="linear-gap"></td><td class="linear-code-points"></td>
            </tr>
        </table>
        <div class="options">
            <span class="option-group">
                <label class="checkbox" title="If checked, detailed relations are displayed, making use of a directed labeled graph;&#10;if unchecked, a basic undirected graph is used instead"><input class="detailed-relations-checkbox" type="checkbox">&nbsp;Detailed Relations</label>
                <label class="checkbox" title="If checked, code points are displayed below each Unihan character of the graph"><input class="code-points-checkbox" type="checkbox">&nbsp;Code Points</label>
            </span>
            <span class="action">
                <button class="save-svg-button" type="button">Save...</button>
            </span>
        </div>
        <div class="graph-rendering">
            <div class="graph-container"></div>
        </div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>The <strong>Unihan Variants</strong> utility displays all the variants of a given Unihan character.</li>
                <li>Any Unihan character can be entered in the <kbd>Unihan</kbd> input field either as a character or a code point. Click on the <kbd>Look Up</kbd> button to display the variants.</li>
                <li>Previously looked up characters are kept in a history stack; use the <kbd>Alt</kbd>+<kbd>↑</kbd> and <kbd>Alt</kbd>+<kbd>↓</kbd> keyboard shortcuts to navigate through them up and down inside the input field. Alternatively, you can also use the <kbd>Lookup&nbsp;History&nbsp;▾</kbd> pop-up menu to automatically look up a specific character.</li>
                <li>Click on the <kbd>Extra Variants</kbd> checkbox to include the Yasuoka variants as well; otherwise, only the standard Unihan variants are listed.</li>
                <li>Click on the <kbd>Detailed Relations</kbd> checkbox to make use of a directed labeled graph to display variant relations; otherwise, a basic undirected graph is used instead.</li>
                <li>Click on the <kbd>Code Points</kbd> checkbox to display as well the code point of each Unihan character of the graph.</li>
                <li>The different variant relations are indicated using the following labels:
                    <ul>
                        <li><code>Compat.</code>: reverse link of <code>Unified</code></li>
                        <li><code>Kyūjitai</code>: Japanese traditional character variants (旧字体)</li>
                        <li><code>Semantic</code>: characters listed under the <em>kSemanticVariant</em> Unihan property</li>
                        <li><code>Shape</code>: characters listed under the <em>kZVariant</em> Unihan property</li>
                        <li><code>Shinjitai</code>: Japanese simplified character variants (新字体)</li>
                        <li><code>Simplified</code>: characters listed under the <em>kSimplifiedVariant</em> Unihan property</li>
                        <li><code>Specialized</code>: characters listed under the <em>kSpecializedSemanticVariant</em> Unihan property</li>
                        <li><code>Spoofing</code>: characters listed under the <em>kSpoofingVariant</em> Unihan property</li>
                        <li><code>Traditional</code>: characters listed under the <em>kTraditionalVariant</em> Unihan property</li>
                        <li><code>Unified</code>: characters listed under the <em>kCompatibilityVariant</em> Unihan property</li>
                        <li><code>Yasuoka</code>: characters drawn from the "Variants table for Unicode" data file <a title="http://kanji.zinbun.kyoto-u.ac.jp/~yasuoka/ftp/CJKtable/UniVariants.Z" href="http://kanji.zinbun.kyoto-u.ac.jp/~yasuoka/ftp/CJKtable/UniVariants.Z">UniVariants.txt</a> provided by Prof. <a title="http://kanji.zinbun.kyoto-u.ac.jp/~yasuoka/" href="http://kanji.zinbun.kyoto-u.ac.jp/~yasuoka/">Kōichi Yasuoka</a></li>
                    </ul>
                </li>
                <li>Click on the <kbd>Save...</kbd> button to save the current graph as a SVG file.</li>
                <li>Notes:
                    <ul>
                        <li>Hovering over any circled Unihan character of the graph displays a tooltip with basic information: code point, age, set, ideograph status, compatibility source.</li>
                        <li>The currently looked up Unihan character appears in a bolder circle; clicking on any other circled variant character lets you "navigate" through all the variants.</li>
                        <li>In order to avoid visual clutter, any relation between two Unihan characters obtained from the Yasuoka variants is not displayed if another "standard" one with the same orientation already exists.</li>
                        <li>By design, <em>compatibility</em> characters, if any, always appear on the <em>left</em> side of a graph with detailed relations.</li>
                    </ul>
                </li>
            </ul>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
