@charset "utf-8";

#unihan-variants-unit .plain-panel
{
    padding-bottom: 0.75em;
}

#unihan-variants-unit .interface
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin: 0.5em 0 0.75em 0;
}

#unihan-variants-unit .option-group
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
}

#unihan-variants-unit .option-group + .option-group
{
    margin-left: 1em;
}

#unihan-variants-unit .option + .option
{
    margin-left: 1.5em;
}

#unihan-variants-unit .history-button
{
    padding: 1px 6px;
    margin-right: 0.75em;
    user-select: none;
    white-space: nowrap;
}

#unihan-variants-unit .history-button::after
{
    top: -2px;
}

#unihan-variants-unit .history-button svg.history
{
    width: 21px;
    height: 21px;
    vertical-align: text-bottom;
    margin-right: -0.25em;
}

#unihan-variants-unit .unihan-input
{
    font-family: var(--sans-serif-family);
    font-size: 16px;
    line-height: 1.333em;
    padding: 2px 6px;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    width: 7.5em;
    margin-right: 0.5em;
}

#unihan-variants-unit .unihan-input.invalid
{
    color: var(--color-error);
    outline-color: var(--color-error);
}

#unihan-variants-unit .code-points-checkbox,
#unihan-variants-unit .save-svg-button
{
    margin-left: 1.5em;
}

#unihan-variants-unit .linear-wrapper
{
    margin: 1.25em 0 1em 0;
    background: none;
    border: none;
}

#unihan-variants-unit .linear-row
{
    background-color: white;
    font-family: var(--unihan-family);
    font-size: 48px;
    line-height: 1em;
    vertical-align: middle;
    height: 64px;
    user-select: text;
    cursor: text;
}

#unihan-variants-unit .linear-character,
#unihan-variants-unit .linear-code-point
{
    border: 3px solid var(--color-border);
    text-align: center;
    vertical-align: middle;
    width: 64px;
    min-width: 64px;
}

#unihan-variants-unit .linear-variants,
#unihan-variants-unit .linear-code-points
{
    border: 1px solid var(--color-border);
    text-align: left;
    vertical-align: middle;
    width: 100%;
    white-space: nowrap;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 8px;
}

#unihan-variants-unit .linear-gap
{
    width: 12px;
    min-width: 12px;
    vertical-align: middle;
    background: none;
    border: none;
    visibility: hidden;
    user-select: none;
}

#unihan-variants-unit .linear-row-gap
{
    height: 6px;
    border: none;
    background: none;
}

#unihan-variants-unit .linear-character .symbol,
#unihan-variants-unit .linear-variants .symbol
{
    vertical-align: middle;
}

#unihan-variants-unit .linear-variants
{
    letter-spacing: 4px;
}

#unihan-variants-unit .linear-row.code-points
{
    font-family: var(--monospace-family);
    font-size: 12px;
    font-weight: bold;
    height: 2em;
}

#unihan-variants-unit .linear-code-point .code-point.compatibility,
#unihan-variants-unit .linear-row.code-points .code-point.compatibility
{
    font-style: italic;
}

#unihan-variants-unit .options
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#unihan-variants-unit .graph-rendering
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 1.2em;
    padding: 0.5em 0 0.25em 0;
    min-height: calc(12 * 1.2em);
    background-color: white;
    border: 1px solid var(--color-border);
    overflow-x: scroll;
    margin: 0.75em 0;
}

#unihan-variants-unit .graph-container
{
    min-width: 0;
}

#unihan-variants-unit .graph-container svg g.no-link a
{
    cursor: default;
}

#unihan-variants-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#unihan-variants-unit .instructions li
{
    margin: 0.25em 0;
}

#unihan-variants-unit .instructions li > ul
{
    margin: 0 0 0.25em 0;
}

#unihan-variants-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em 1px;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unihan-variants-unit .instructions code
{
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unihan-variants-unit details
{
    margin: 1.2em 0;
}

#unihan-variants-unit details[open] summary
{
    margin: 1.2em 0;
}

#unihan-variants-unit summary
{
    font-weight: bold;
}

