<section id="unikemet-references-unit">
    <div class="accent-panel">
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
