@charset "utf-8";

#unikemet-references-unit details
{
    margin: 1.2em 0;
}

#unikemet-references-unit details[open] summary
{
    margin: 1.2em 0;
}

#unikemet-references-unit summary
{
    font-weight: bold;
}
