<section id="unicode-inspector-unit">
    <div class="plain-panel">
        <div class="actions">
            <span class="action-group">
                <span class="action">
                    <button class="characters-clear" type="button">Clear</button>
                </span>
                <span class="action">
                    <button class="pull-down-menu characters-samples" type="button">Samples</button>
                </span>
            </span>
            <span class="action-group">
                <span class="count-info">Count:&nbsp;<span class="count-number">0</span></span>
            </span>
            <span class="action-group">
                <span class="action">
                    <button class="load-button" type="button">Load...</button>
                </span>
                <span class="action">
                    <button class="save-button" type="button">Save...</button>
                </span>
            </span>
        </div>
        <div class="input-group">
            <label>Characters:<textarea class="characters-input" maxlength="256"></textarea></label>
            <label>Code points:<textarea class="code-points-input" maxlength="2048"></textarea></label>
        </div>
        <div class="characters-data"></div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>The <strong>Unicode Inspector</strong> utility displays code point information in real time for each Unicode character of a text string.</li>
                <li>Characters can be entered either directly in the "Characters" input field, or using a series of code points in hexadecimal format in the "Code points" input field.</li>
                <li>It is also possible to input predefined sets of characters selected from the <kbd>Samples&nbsp;▾</kbd> pop-up menu.</li>
                <li>As a convenience, the input fields can be emptied using the <kbd>Clear</kbd> button.</li>
                <li>In output, the standard Unicode code point format <code class="select-all">U+0041</code> is used, i.e. "U+" directly followed by 4 or 5 hex digits.</li>
                <li>In input, more hexadecimal formats are allowed, including Unicode escape sequences, such as <code class="select-all">\u611B</code> or <code class="select-all">\u{1F49C}</code>. Moving out of the field or typing the Enter key converts all valid codes to standard Unicode code point format.</li>
                <li>Information is provided for the 294,579 assigned characters (or code points) defined in the <strong>Unicode 16.0</strong> version of the <a title="https://www.unicode.org/Public/16.0.0/ucd/UnicodeData.txt" href="https://www.unicode.org/Public/16.0.0/ucd/UnicodeData.txt">UnicodeData.txt</a> data file.</li>
                <li>
                    Extra information is also obtained from the following data files:
                    <ul>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/ArabicShaping.txt" href="https://www.unicode.org/Public/16.0.0/ucd/ArabicShaping.txt">ArabicShaping.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/Blocks.txt" href="https://www.unicode.org/Public/16.0.0/ucd/Blocks.txt">Blocks.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/CaseFolding.txt" href="https://www.unicode.org/Public/16.0.0/ucd/CaseFolding.txt">CaseFolding.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/DerivedAge.txt" href="https://www.unicode.org/Public/16.0.0/ucd/DerivedAge.txt">DerivedAge.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/DerivedCoreProperties.txt" href="https://www.unicode.org/Public/16.0.0/ucd/DerivedCoreProperties.txt">DerivedCoreProperties.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/EastAsianWidth.txt" href="https://www.unicode.org/Public/16.0.0/ucd/EastAsianWidth.txt">EastAsianWidth.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/EquivalentUnifiedIdeograph.txt" href="https://www.unicode.org/Public/16.0.0/ucd/EquivalentUnifiedIdeograph.txt">EquivalentUnifiedIdeograph.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/IndicPositionalCategory.txt" href="https://www.unicode.org/Public/16.0.0/ucd/IndicPositionalCategory.txt">IndicPositionalCategory.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/IndicSyllabicCategory.txt" href="https://www.unicode.org/Public/16.0.0/ucd/IndicSyllabicCategory.txt">IndicSyllabicCategory.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/LineBreak.txt" href="https://www.unicode.org/Public/16.0.0/ucd/LineBreak.txt">LineBreak.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/NameAliases.txt" href="https://www.unicode.org/Public/16.0.0/ucd/NameAliases.txt">NameAliases.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/PropList.txt" href="https://www.unicode.org/Public/16.0.0/ucd/PropList.txt">PropList.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/Scripts.txt" href="https://www.unicode.org/Public/16.0.0/ucd/Scripts.txt">Scripts.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/ScriptExtensions.txt" href="https://www.unicode.org/Public/16.0.0/ucd/ScriptExtensions.txt">ScriptExtensions.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/StandardizedVariants.txt" href="https://www.unicode.org/Public/16.0.0/ucd/StandardizedVariants.txt">StandardizedVariants.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/VerticalOrientation.txt" href="https://www.unicode.org/Public/16.0.0/ucd/VerticalOrientation.txt">VerticalOrientation.txt</a></li>
                        <li><a title="https://www.unicode.org/Public/16.0.0/ucd/emoji/emoji-data.txt" href="https://www.unicode.org/Public/16.0.0/ucd/emoji/emoji-data.txt">emoji-data.txt</a></li>
                    </ul>
                </li>
            </ul>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
