@charset "utf-8";

#unicode-inspector-unit .plain-panel
{
    padding-bottom: 0.25em;
}

#unicode-inspector-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}

#unicode-inspector-unit .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#unicode-inspector-unit .action-group + .action-group,
#unicode-inspector-unit .action + .action
{
    margin-left: 0.75em;
}

#unicode-inspector-unit .count-info
{
    line-height: 1em;
    width: 72px;
}

#unicode-inspector-unit .count-number
{
    font-weight: bold;
}

#unicode-inspector-unit .input-group
{
    margin: 0.5em 0 1em 0;
}

#unicode-inspector-unit .characters-input
{
    font-family: var(--sans-serif-family);
    font-size: 36px;
    line-height: 54px;
    resize: vertical;
    overflow-y: scroll;
    min-height: calc(1px + 2*54px + 1px);
    overscroll-behavior: contain;
    padding: 0 0.2em;
    width: 100%;
    tab-size : 4;
}

#unicode-inspector-unit .code-points-input
{
    font-family: var(--monospace-family);
    font-size: 14px;
    line-height: 20px;
    resize: vertical;
    overflow-y: scroll;
    min-height: calc(1px + 2px + 2*20px + 2px + 1px);
    overscroll-behavior: contain;
    padding: 2px 0.5em;
    width: 100%;
    tab-size : 4;
}

#unicode-inspector-unit .data-list
{
    background-color: white;
    margin: 0 0 1.25em 0;
    border-collapse: collapse;
    border: 1px solid var(--color-border);
}

#unicode-inspector-unit .data-list .empty-row
{
    height: 1.2em;
    border-left: 1px solid var(--color-bg);
    border-right: 1px solid var(--color-bg);
}

#unicode-inspector-unit .data-list .empty-cell
{
    background: var(--color-bg);
    border-left: 1px solid var(--color-bg);
    border-right: 1px solid var(--color-bg);
}

#unicode-inspector-unit .data-list .row
{
    border: 1px solid var(--color-border);
    user-select: text;
    cursor: text;
}

#unicode-inspector-unit .data-list .symbol
{
    font-family: var(--sans-serif-family);
    font-size: 72px;
    height: 1em;
    width: 2em;
    min-width: 2em;
    max-width: 2em;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    padding: 0.2em 0.1em;
    overflow-x: auto;
    border: 1px solid var(--color-border);
}

#unicode-inspector-unit .data-list .codes
{
    white-space: nowrap;
    width: 16em;
    min-width: 16em;
}

#unicode-inspector-unit .data-list .codes,
#unicode-inspector-unit .data-list .properties
{
    text-align: left;
    font-size: 12px;
    vertical-align: top;
    line-height: 1.2em;
    font-family: var(--monospace-family);
    padding: 0.25em 0.5em;
    border: 1px solid var(--color-border);
}

#unicode-inspector-unit .data-list .field
{
    margin: 0.3em 0;
}

#unicode-inspector-unit .data-list .field .name
{
    font-weight: 600;
    color: var(--color-strongest);
}

#unicode-inspector-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#unicode-inspector-unit .instructions li
{
    margin: 0.25em 0;
}

#unicode-inspector-unit .instructions li > ul
{
    margin: 0 0 0.25em 0;
}

#unicode-inspector-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em 1px;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unicode-inspector-unit .instructions code
{
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unicode-inspector-unit .instructions code
{
    user-select: all;
    cursor: text;
}

#unicode-inspector-unit details
{
    margin: 1.2em 0;
}

#unicode-inspector-unit details[open] summary
{
    margin: 1.2em 0;
}

#unicode-inspector-unit summary
{
    font-weight: bold;
}

