@charset "utf-8";

#unikemet-data-finder-unit .plain-panel
{
    padding-bottom: 1em;
    overflow-x: visible;
}

#unikemet-data-finder-unit .tab-bar
{
    display: flex;
    justify-content: center;
    white-space: nowrap;
    margin: -2em 0 1.5em 0;
}

#unikemet-data-finder-unit .tab-bar .tab-label .tab-radio
{
    display: none;
}

#unikemet-data-finder-unit .tab-bar .tab-label span
{
    padding: 0.2em 1em;
    font-size: 1em;
    font-weight: 600;
    border: 1px solid var(--color-accent);
    border-radius: 0;
    background-color: white;
    color: var(--color-accent);
    margin: 0 -2px;
    vertical-align: middle;
}

#unikemet-data-finder-unit .tab-bar .tab-label:first-of-type span
{
    border-top-left-radius : 0.5em;
    border-bottom-left-radius : 0.5em;
    margin-right: -3px;
}

#unikemet-data-finder-unit .tab-bar .tab-label:last-of-type span
{
    border-top-right-radius : 0.5em;
    border-bottom-right-radius : 0.5em;
    margin-left: -3px;
}

#unikemet-data-finder-unit .tab-bar .tab-label .tab-radio:checked + span
{
    background-color: var(--color-accent);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    color: white;
}

#unikemet-data-finder-unit .tab-bar .tab-label .tab-radio:not(:checked) + span:hover
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.75), hsla(0, 0%, 100%, 0.75));
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
}

#unikemet-data-finder-unit .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0.5em 0;
    white-space: nowrap;
}

#unikemet-data-finder-unit .actions
{
    align-items: center;
    margin-bottom: 0.8em;
}

#unikemet-data-finder-unit .view-by-grid .actions
{
    margin-bottom: 0.65em;
}

#unikemet-data-finder-unit .match-character .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.25em 0;
}

#unikemet-data-finder-unit .match-character .search-group
{
    flex-grow: 1;
    margin-right: -0.5em;
}

#unikemet-data-finder-unit .match-character .search-group .action
{
    margin-right: 0.5em;
}

#unikemet-data-finder-unit .action-group.property-group
{
    margin: 0.6em 0 0.5em 0;
    align-items: baseline;
    /* justify-content: space-between; */
}

#unikemet-data-finder-unit .action-group.property-group .checkbox-group
{
    margin-left: 1.5em;
}

#unikemet-data-finder-unit .action-group.property-group .action + .action
{
    margin-left: 1em;
}

#unikemet-data-finder-unit .has-popup
{
    user-select: none;
    cursor: pointer;
}

#unikemet-data-finder-unit .has-popup:hover
{
    color: var(--color-hover);
}

#unikemet-data-finder-unit .property-select
{
    width: 240px;
}

#unikemet-data-finder-unit .search-wrap
{
    width: 100%;
}

#unikemet-data-finder-unit .search-string
{
    font-family: var(--sans-serif-family);
    font-size: 16px;
    padding: 2px 6px;
    line-height: 1.25em;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    width: 100%;
}

#unikemet-data-finder-unit .search-string.error
{
    color: var(--color-error);
    outline-color: var(--color-error);
}

#unikemet-data-finder-unit .search-message
{
    display: none;
}

#unikemet-data-finder-unit .search-message.shown::before
{
    content: "";
    position: absolute;
    top: -8px;
    left: 8px;
    width: 20px;
    height: 10px;
    background-color: var(--color-error);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#unikemet-data-finder-unit .search-message.shown
{
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-right: 2rem;
    font-family: var(--monospace-family);
    font-size: 12px;
    white-space: pre-wrap;
    padding: 0.375em 0.75em;
    color: white;
    background-color: var(--color-error);
    border-radius: 4px;
    box-shadow: 0 2px 8px #AAAAAA;
    z-index: 1;
}

#unikemet-data-finder-unit .search-group
{
    margin-right: -0.5em;
}

#unikemet-data-finder-unit .search-group .icon-checkbox
{
    display: none;
}

#unikemet-data-finder-unit .search-group .icon-checkbox + svg
{
    font-size: 1.7em;
    line-height: 1em;
    text-align: center;
    padding: 1px;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background: white;
    border: 1px solid var(--color-accent);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    color: var(--color-accent);
    stroke: var(--color-accent);
    fill: var(--color-accent);
}

#unikemet-data-finder-unit .search-group .icon-checkbox:checked + svg
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.15));
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: white;
    stroke: white;
    fill: white;
}

#unikemet-data-finder-unit .search-group .icon-checkbox:disabled + svg
{
    color: gray;
    stroke: gray;
    fill: gray;
    border: gray 1px solid;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    pointer-events: none;
}

#unikemet-data-finder-unit .search-group .action
{
    margin-right: 0.5em;
}

#unikemet-data-finder-unit .results
{
    text-align: left;
    font-size: small;
    margin: 0.25em 0 0.8em 0;
    user-select: text;
    cursor: text;
}

#unikemet-data-finder-unit .results .results-button
{
    padding: 3px 6px;
    margin-right: 1em;
    user-select: none;
}

#unikemet-data-finder-unit .results .results-button svg.gear
{
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-bottom;
}

#unikemet-data-finder-unit .results .results-string
{
    line-height: 1em;
}

#unikemet-data-finder-unit .results .results-string .hit-count,
#unikemet-data-finder-unit .view-by-grid .results .results-string .total-count
{
    font-weight: bold;
}

#unikemet-data-finder-unit .pagination-bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0.75em 0 0 0;
}

#unikemet-data-finder-unit .pagination-bar .pagination-group
{
    white-space: nowrap;
    display: flex;
}

#unikemet-data-finder-unit .pagination-bar .page-select:disabled
{
    pointer-events: none;
}

#unikemet-data-finder-unit .pagination-bar .page-select,
#unikemet-data-finder-unit .pagination-bar .page-nav-button
{
    margin-right: 0.75em;
    height: 26px;
}

#unikemet-data-finder-unit .pagination-bar .page-select
{
    font-family: var(--monospace-family);
    font-weight: bold;
    font-size: 14px;
    padding: 3px 2px 2px 6px;
    text-align: right;
}

#unikemet-data-finder-unit .pagination-bar .page-nav-button
{
    width: 2.4em;
    padding: 3px 6px;
    /* border-radius: 0; */
}

#unikemet-data-finder-unit .pagination-bar .page-nav-button svg.page-nav-icon
{
    width: 1em;
    height: 1em;
    vertical-align: bottom;
    fill: currentColor;
}

#unikemet-data-finder-unit .pagination-bar .page-info
{
    margin: 0 1em 0 0.5em;
}

#unikemet-data-finder-unit .search-data .data-table
{
    margin: 0.8em 0;
}

#unikemet-data-finder-unit .search-data .symbol-header,
#unikemet-data-finder-unit .search-data .code-point-header,
#unikemet-data-finder-unit .search-data .property-header,
#unikemet-data-finder-unit .search-data .value-header,
#unikemet-data-finder-unit .search-data .age-header,
#unikemet-data-finder-unit .search-data .set-header,
#unikemet-data-finder-unit .search-data .group-header,
#unikemet-data-finder-unit .search-data .subgroup-header,
#unikemet-data-finder-unit .search-data .block-name-header
{
    text-align: left;
    font-size: 13px;
    line-height: 1em;
    padding: 0.5em;
    user-select: none;
}

#unikemet-data-finder-unit .search-data .symbol-header
{
    width: 7.5em;
    text-align: center;
}

#unikemet-data-finder-unit .search-data .code-point-header
{
    width: 6em;
    text-align: center;
}

#unikemet-data-finder-unit .search-data .property-header
{
    width: 6em;
}

#unikemet-data-finder-unit .search-data .value-header
{
}

#unikemet-data-finder-unit .search-data .age-header
{
}

#unikemet-data-finder-unit .search-data .set-header
{
}

#unikemet-data-finder-unit .search-data .group-header
{
}

#unikemet-data-finder-unit .search-data .subgroup-header
{
}

#unikemet-data-finder-unit .search-data .block-name-header
{
    width: 12em;
}

#unikemet-data-finder-unit .search-data .data-row
{
    text-align: left;
    vertical-align: middle;
    background-color: white;
    user-select: text;
    cursor: text;
}

#unikemet-data-finder-unit .search-data .data-row.variant
{
    color: var(--color-dimmed);
}

#unikemet-data-finder-unit .search-data .symbol-data
{
    text-align: center;
    font-family: var(--unikemet-family);
    font-size: 36px;
    padding: 0.5em 0;
}

#unikemet-data-finder-unit .search-data .data-row.variant .symbol-data
{
    color: var(--color-dimmed);
}

#unikemet-data-finder-unit .search-data .code-point-data,
#unikemet-data-finder-unit .search-data .property-data,
#unikemet-data-finder-unit .search-data .value-data
{
    font-family: var(--monospace-family);
    text-align: left;
    font-size: 13px;
    padding: 0.25em 0.5em;
}

#unikemet-data-finder-unit .search-data .code-point-data
{
    text-align: center;
}

#unikemet-data-finder-unit .search-data .property-data,
#unikemet-data-finder-unit .search-data .value-data
{
    line-height: 1.2em;
}

#unikemet-data-finder-unit .search-data .value-data
{
    word-break: break-word;
}

#unikemet-data-finder-unit .search-data .value-data .list
{
    margin: 0;
    list-style-type: disc;
}

#unikemet-data-finder-unit .search-data .value-data .item
{
    margin: 0.1em 0 0.1em -24px;
}

#unikemet-data-finder-unit .search-data .value-data .item.no-match
{
    color: var(--color-dimmed);
    list-style-type: circle;
}

#unikemet-data-finder-unit .search-data .age-data,
#unikemet-data-finder-unit .search-data .set-data,
#unikemet-data-finder-unit .search-data .group-data,
#unikemet-data-finder-unit .search-data .subgroup-data,
#unikemet-data-finder-unit .search-data .block-name-data
{
    text-align: left;
    line-height: 1em;
    padding: 0.5em;
}

#unikemet-data-finder-unit .search-data .block-name-data
{
    hyphens: none;
}

#unikemet-data-finder-unit .view-by-grid .action-group
{
    margin: 0.25em 0 0.5em 0;
}

#unikemet-data-finder-unit .view-by-grid .history-button
{
    padding: 1px 6px;
    margin: 0 0.75em 0 1.5em;
    user-select: none;
    white-space: nowrap;
}

#unikemet-data-finder-unit .view-by-grid .history-button::after
{
    top: -2px;
}

#unikemet-data-finder-unit .view-by-grid .history-button svg.history
{
    width: 21px;
    height: 21px;
    vertical-align: text-bottom;
    margin-right: -0.25em;
}

#unikemet-data-finder-unit .view-by-grid .specimen
{
    font-family: var(--sans-serif-family);
    font-size: 16px;
    padding: 2px 6px;
    line-height: 1.25em;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    width: 7.5em;
    margin: 0 0.5em 0 0;
}

#unikemet-data-finder-unit .view-by-grid .specimen.invalid
{
    color: var(--color-error);
    outline-color: var(--color-error);
}

#unikemet-data-finder-unit .view-by-grid .search-info
{
    margin: -0.35em 0;
}

#unikemet-data-finder-unit .view-by-grid .search-data table
{
    table-layout: fixed;
    user-select: text;
    cursor: text;
}

#unikemet-data-finder-unit .view-by-grid .search-data th.empty-header,
#unikemet-data-finder-unit .view-by-grid .search-data th.digit-header,
#unikemet-data-finder-unit .view-by-grid .search-data th.row-header
{
    vertical-align: middle;
    padding: 0.5em 0.25em;
    line-height: 1em;
    font-size: 13px;
    font-family: var(--monospace-family);
}

#unikemet-data-finder-unit .view-by-grid .search-data th.empty-header,
#unikemet-data-finder-unit .view-by-grid .search-data td.row-header
{
    width: 72px;
}

#unikemet-data-finder-unit .view-by-grid .search-data td.symbol-cell
{
    background-color: white;
    padding: 6px 0;
}

#unikemet-data-finder-unit .view-by-grid .search-data td.symbol-cell.unassigned
{
    background-image: url("crosshatch-1-1.svg");
    background-size: 8px;
    background-position: center;
    color: var(--color-dimmed);
}

#unikemet-data-finder-unit .view-by-grid .search-data td.symbol-cell.unassigned .symbol
{
    user-select: none;
}

#unikemet-data-finder-unit .view-by-grid .search-data td.symbol-cell .symbol
{
    font-family: var(--unikemet-family);
    font-size: 30px;
    line-height: 1.5em;
}

#unikemet-data-finder-unit .view-by-grid .search-data td.symbol-cell .symbol.deferred
{
    /* background-color: var(--color-bg); */
    /* border: 1px solid var(--color-border); */
}

#unikemet-data-finder-unit .view-by-grid .search-data td.symbol-cell.highlighted,
#unikemet-data-finder-unit .view-by-grid .search-data td.symbol-cell .symbol.highlighted
{
    background-color: var(--color-highlight);
}

#unikemet-data-finder-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#unikemet-data-finder-unit .instructions li
{
    margin: 0.25em 0;
}

#unikemet-data-finder-unit .instructions li > ul
{
    margin: 0 0 0.25em 0;
}

#unikemet-data-finder-unit .instructions kbd,
#unikemet-data-finder-unit .regex-examples kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em 1px;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unikemet-data-finder-unit .instructions code
{
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unikemet-data-finder-unit .regex-examples p
{
    margin: 1.25em 0 1em 1.5em;
}

#unikemet-data-finder-unit .regex-examples ul
{
    margin: -0.5em 0 1em 0;
}

#unikemet-data-finder-unit .regex-examples li
{
    margin: 0.5em 0;
}

#unikemet-data-finder-unit .regex-examples li > ul
{
    margin: 0.5em 0;
}

#unikemet-data-finder-unit .regex-examples code
{
    color: inherit;
    white-space: normal;
    overflow-wrap: break-word;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unikemet-data-finder-unit .regex-examples code.select-all
{
    user-select: all;
    cursor: text;
}

#unikemet-data-finder-unit .unikemet-blocks table.blocks-table
{
    margin-top: 0.25em;
    margin-bottom: 1.5em;
    width: unset;
    user-select: text;
    cursor: text;
}

#unikemet-data-finder-unit .unikemet-blocks tr:nth-child(even) td
{
    background-color: white;
}

#unikemet-data-finder-unit .unikemet-blocks tr:nth-child(odd) td
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unikemet-data-finder-unit .unikemet-blocks th,
#unikemet-data-finder-unit .unikemet-blocks td
{
    text-align: left;
    vertical-align: middle;
    padding: 0.25em 0.5em;
    /* white-space: nowrap; */
}

#unikemet-data-finder-unit .unikemet-blocks th.size-header,
#unikemet-data-finder-unit .unikemet-blocks td.size,
#unikemet-data-finder-unit .unikemet-blocks th.core-set-header,
#unikemet-data-finder-unit .unikemet-blocks td.core-set,
#unikemet-data-finder-unit .unikemet-blocks th.core-total-header,
#unikemet-data-finder-unit .unikemet-blocks td.core-total,
#unikemet-data-finder-unit .unikemet-blocks th.full-set-header,
#unikemet-data-finder-unit .unikemet-blocks td.full-set,
#unikemet-data-finder-unit .unikemet-blocks th.full-total-header,
#unikemet-data-finder-unit .unikemet-blocks td.full-total
{
    text-align: right;
}

#unikemet-data-finder-unit .unikemet-blocks th.range-header,
#unikemet-data-finder-unit .unikemet-blocks td.range
{
    text-align: center;
}

#unikemet-data-finder-unit .unikemet-blocks th
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unikemet-data-finder-unit .unikemet-blocks th.core-total-header,
#unikemet-data-finder-unit .unikemet-blocks th.full-total-header
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9));
}

#unikemet-data-finder-unit .unikemet-blocks td.range,
#unikemet-data-finder-unit .unikemet-blocks td.size,
#unikemet-data-finder-unit .unikemet-blocks td.core-set,
#unikemet-data-finder-unit .unikemet-blocks td.full-set,
#unikemet-data-finder-unit .unikemet-blocks td.core-total,
#unikemet-data-finder-unit .unikemet-blocks td.full-total
{
    font-family: var(--monospace-family);
}

#unikemet-data-finder-unit .unikemet-blocks td.core-total,
#unikemet-data-finder-unit .unikemet-blocks td.full-total
{
    font-weight: bold;
}

#unikemet-data-finder-unit details
{
    margin: 1.2em 0;
}

#unikemet-data-finder-unit details[open] summary
{
    margin: 1.2em 0;
}

#unikemet-data-finder-unit summary
{
    font-weight: bold;
}

