<section id="unikemet-data-finder-unit">
    <div class="plain-panel">
        <div class="tab-bar">
            <label class="tab-label"><input class="tab-radio" type="radio"><span>Find by Property</span></label>
            <label class="tab-label"><input class="tab-radio" type="radio"><span>Match Character</span></label>
            <label class="tab-label"><input class="tab-radio" type="radio"><span>View by Grid</span></label>
        </div>
        <div class="tab-panes">
            <div class="tab-pane find-by-property">
                <div class="actions">
                    <div class="action-group property-group">
                        <span class="action">
                            <select class="property-select" title="Unikemet property"></select>
                        </span>
                        <span class="checkbox-group">
                            <span class="action">
                                <label class="checkbox"><input class="categories-checkbox" type="checkbox">&nbsp;Categories</label>
                            </span>
                        </span>
                    </div>
                    <div class="action-group search-group">
                        <span class="action search-wrap">
                            <input class="search-string" type="search" maxlength="384" placeholder="Unikemet property value…">
                            <span class="search-message"></span>
                        </span>
                        <span class="action">
                            <label title="Case Sensitive (disabled)"><input class="case-sensitive icon-checkbox" type="checkbox" disabled><svg><use href="/images/search.svg#case-sensitive-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <label title="Whole Word"><input class="whole-word icon-checkbox" type="checkbox"><svg><use href="/images/search.svg#whole-word-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <label title="Regular Expression"><input class="use-regex icon-checkbox" type="checkbox"><svg><use href="/images/search.svg#use-regex-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <button class="search-button" type="button">Search</button>
                        </span>
                    </div>
                </div>
                <div class="results">
                    <button class="pull-down-menu results-button" type="button" title="Search Results"><svg class="gear"><use href="/images/actions.svg#gear"></use></svg></button><span class="results-string">Characters:&nbsp;<span class="hit-count"></span>&nbsp;/&nbsp;<span class="total-count"></span></span>
                </div>
                <div class="search-data"></div>
            </div>
            <div class="tab-pane match-character">
                <div class="actions">
                    <span class="action-group search-group">
                        <span class="action search-wrap">
                            <input class="search-string" type="search" maxlength="256" placeholder="Character…">
                            <span class="search-message"></span>
                        </span>
                        <span class="action">
                            <label title="Case Sensitive (disabled)"><input class="case-sensitive icon-checkbox" type="checkbox" disabled><svg><use href="/images/search.svg#case-sensitive-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <label title="Whole Word (disabled)"><input class="whole-word icon-checkbox" type="checkbox" disabled><svg><use href="/images/search.svg#whole-word-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <label title="Regular Expression"><input class="use-regex icon-checkbox" type="checkbox"><svg><use href="/images/search.svg#use-regex-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <button class="search-button" type="button">Search</button>
                        </span>
                    </span>
                </div>
                <div class="results">
                    <button class="pull-down-menu results-button" type="button" title="Search Results"><svg class="gear"><use href="/images/actions.svg#gear"></use></svg></button><span class="results-string">Characters:&nbsp;<span class="hit-count"></span>&nbsp;/&nbsp;<span class="total-count"></span></span>
                </div>
                <div class="search-data"></div>
            </div>
            <div class="tab-pane view-by-grid">
                <div class="actions">
                    <span class="action-group">
                        <span class="action">
                            <select class="select-block-name"></select>
                        </span>
                    </span>
                    <span class="action-group">
                        <span class="action">
                            <select class="select-block-range"></select>
                        </span>
                        <span class="action">
                            <button class="pull-down-menu history-button" type="button" title="Specimen History"><svg class="history"><use href="/images/actions.svg#history"></use></svg></button>
                        </span>
                        <span class="action">
                            <input class="specimen" type="search" maxlength="64" title="Unikemet specimen (character or code point)" placeholder="Specimen…">
                        </span>
                        <span class="action">
                            <button class="go-button" type="button">Go</button>
                        </span>
                    </span>
                </div>
                <div class="results">
                    <button class="pull-down-menu results-button" type="button" title="Results"><svg class="gear"><use href="/images/actions.svg#gear"></use></svg></button><span class="results-string">Characters:&nbsp;<span class="hit-count"></span>&nbsp;/&nbsp;Block size:&nbsp;<span class="total-count"></span></span>
                </div>
                <div class="search-data"></div>
            </div>
        </div>
    </div>
    <div class="tab-infos">
        <div class="tab-info find-by-property">
            <div class="accent-panel">
                <details class="instructions">
                    <summary>Instructions</summary>
                    <ul>
                        <li>The <strong>Find by Property</strong> feature of the <strong>Unikemet Data Finder</strong> utility displays a list of basic data (character, code point, property, value, block) of matching Unikemet characters searched by property value, including through regular expressions.</li>
                        <li>Use the <kbd>Unikemet Property</kbd> drop-down menu to select the property you wish to search value by.</li>
                        <li>Use the <kbd>Categories</kbd> checkbox to toggle between: all Unikemet properties ordered alphabetically, or grouped by categories in the drop-down menu.</li>
                        <li>After entering a query, click on the <kbd>Search</kbd> button to display a list of all relevant matches, if any, ordered by code point value.</li>
                        <li>It is possible to choose how many characters are shown one page at a time.</li>
                        <li>The search is performed on the 5,067 Unikemet characters defined in <strong>Unicode 16.0</strong>, based on the <a title="https://www.unicode.org/Public/16.0.0/ucd/Unikemet.txt" href="https://www.unicode.org/Public/16.0.0/ucd/Unikemet.txt">Unikemet.txt</a> data file.</li>
                        <li>Use the <kbd>Search Results&nbsp;▾</kbd> pop-up menu to perform an action among:
                            <ul>
                                <li><code>Copy Search Results</code> [copy the search results as string to the clipboard]</li>
                                <li><code>Save Search Results...</code> [save the search results as string to a text file]</li>
                                <li><code>Clear Search Results</code> [clear the current list of search results]</li>
                            </ul>
                        </li>
                        <li>Various examples of regular expressions are provided for quick copy-and-paste.</li>
                    </ul>
                </details>
                <details class="regex-examples">
                    <summary>Regex Examples</summary>
                    <p><kbd>kEH_Cat</kbd></p>
                    <ul>
                        <li>Unikemet characters whose 'kEH_Cat' property value starts with "O-03":<br><code class="select-all">^O-03</code></li>
                    </ul>
                    <p><kbd>kEH_Core</kbd></p>
                    <ul>
                        <li>Unikemet characters whose 'kEH_Core' property value is either "C" (Core), or "L" (Legacy):<br><code class="select-all">[CL]</code></li>
                    </ul>
                    <p><kbd>kEH_Desc</kbd></p>
                    <ul>
                        <li>Unikemet characters whose 'kEH_Desc' property value contains the word "shrine" or "temple":<br><code class="select-all">shrine|temple</code></li>
                        <li>Unikemet characters whose 'kEH_Desc' property value contains both "white" and "eye":<br><code class="select-all">(?=.*white)(?=.*eye)</code></li>
                    </ul>
                </details>
                <details class="references">
                    <summary>Reference Links</summary>
                    <div class="links"></div>
                </details>
            </div>
        </div>
        <div class="tab-info match-character">
            <div class="accent-panel">
                <details class="instructions">
                    <summary>Instructions</summary>
                    <ul>
                        <li>The <strong>Match Character</strong> feature of the <strong>Unikemet Data Finder</strong> utility displays a list of basic data (character, code point, age, set, group, subgroup, block) of matching Unikemet characters, including through regular expressions.</li>
                        <li>After entering a query, click on the <kbd>Search</kbd> button to display a list of all relevant matches, if any, ordered by code point value.</li>
                        <li>It is possible to choose how many characters are shown one page at a time.</li>
                        <li>The search is performed on the 5,067 Unikemet characters defined in <strong>Unicode 16.0</strong>.</li>
                        <li>Use the <kbd>Search Results&nbsp;▾</kbd> pop-up menu to perform an action among:
                            <ul>
                                <li><code>Copy Search Results</code> [copy the search results as string to the clipboard]</li>
                                <li><code>Save Search Results...</code> [save the search results as string to a text file]</li>
                                <li><code>Clear Search Results</code> [clear the current list of search results]</li>
                            </ul>
                        </li>
                        <li>Various examples of regular expressions are provided for quick copy-and-paste.</li>
                    </ul>
                </details>
                <details class="regex-examples">
                    <summary>Regex Examples</summary>
                    <ul>
                        <li>All Unikemet characters:<br><code class="select-all">.</code> or <code class="select-all">[^]</code> or <code class="select-all">[\s\S]</code></li>
                        <li>The white crown of Upper Egypt, the red crown of Lower Egypt, and their union (double crown):<br><code class="select-all">𓋑|𓋔|𓋖</code></li>
                        <li>Three consecutive Unikemet characters in a range, from 𓉡 (U+13261) to 𓉣 (U+13263):<br><code class="select-all">[\u{13261}-\u{13263}]</code> or <code class="select-all">[𓉡-𓉣]</code></li>
                    </ul>
                </details>
                <details class="references">
                    <summary>Reference Links</summary>
                    <div class="links"></div>
                </details>
            </div>
        </div>
        <div class="tab-info view-by-grid">
            <div class="accent-panel">
                <details class="instructions">
                    <summary>Instructions</summary>
                    <ul>
                        <li>The <strong>View by Grid</strong> feature of the <strong>Unikemet Data Finder</strong> utility displays in real time a grid view of all the blocks containing the 5,067 Unikemet characters defined in <strong>Unicode 16.0</strong>.</li>
                        <li>It is possible to choose how many characters are shown one page at a time.</li>
                        <li>A block can be selected either by <kbd>Block Name</kbd> or by <kbd>Block Range</kbd>.</li>
                        <li>It is also possible to directly enter a Unikemet character or code point in the <kbd>Specimen</kbd> field, then click on the <kbd>Go</kbd> button to automatically select the block containing the character, scroll it into view, and highlight it.</li>
                        <li>You can quickly reuse a previously entered Unikemet character by using the <kbd>Alt</kbd>+<kbd>↑</kbd> and <kbd>Alt</kbd>+<kbd>↓</kbd> keyboard shortcuts to navigate up and down through the history stack in the <kbd>Specimen</kbd> field. Alternatively, you can also use the <kbd>Specimen&nbsp;History&nbsp;▾</kbd> pop-up menu to automatically jump to a specific character.</li>
                        <li>Use the <kbd>Results&nbsp;▾</kbd> pop-up menu to perform an action among:
                            <ul>
                                <li><code>Copy Results</code> [copy the results as string to the clipboard]</li>
                                <li><code>Save Results...</code> [save the results as string to a text file]</li>
                            </ul>
                        </li>
                        <li>A list of all the Unikemet blocks is available for quick reference.</li>
                    </ul>
                </details>
                <details class="unikemet-blocks">
                    <summary>Unikemet Blocks</summary>
                    <div class="blocks"></div>
                </details>
                <details class="references">
                    <summary>Reference Links</summary>
                    <div class="links"></div>
                </details>
            </div>
        </div>
    </div>
</section>
