<section id="unicode-data-finder-unit">
    <div class="plain-panel">
        <div class="tab-bar">
            <label class="tab-label"><input class="tab-radio" type="radio"><span>Find by Name</span></label>
            <label class="tab-label"><input class="tab-radio" type="radio"><span>Match Character</span></label>
            <label class="tab-label"><input class="tab-radio" type="radio"><span>List by Block</span></label>
        </div>
        <div class="tab-panes">
            <div class="tab-pane find-by-name">
                <div class="actions">
                    <span class="action-group search-group">
                        <span class="action search-wrap">
                            <input class="search-string" type="search" maxlength="256" placeholder="Character name or alias…">
                            <span class="search-message"></span>
                        </span>
                        <span class="action">
                            <label title="Case Sensitive (disabled)"><input class="case-sensitive icon-checkbox" type="checkbox" disabled><svg><use href="/images/search.svg#case-sensitive-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <label title="Whole Word"><input class="whole-word icon-checkbox" type="checkbox"><svg><use href="/images/search.svg#whole-word-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <label title="Regular Expression"><input class="use-regex icon-checkbox" type="checkbox"><svg><use href="/images/search.svg#use-regex-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <button class="search-button" type="button">Search</button>
                        </span>
                    </span>
                </div>
                <div class="results">
                    <button class="pull-down-menu results-button" type="button" title="Search Results"><svg class="gear"><use href="/images/actions.svg#gear"></use></svg></button><span class="results-string">Characters:&nbsp;<span class="hit-count"></span>&nbsp;/&nbsp;<span class="total-count"></span></span>
                </div>
                <div class="search-data"></div>
            </div>
            <div class="tab-pane match-character">
                <div class="actions">
                    <span class="action-group search-group">
                        <span class="action search-wrap">
                            <input class="search-string" type="search" maxlength="256" placeholder="Character(s)…">
                            <span class="search-message"></span>
                        </span>
                        <span class="action">
                            <label title="Match Decomposition"><input class="match-decomposition icon-checkbox" type="checkbox"><svg><use href="/images/search.svg#match-decomposition-icon"></use></svg></label>
                        </span>
                        <span class="action">|</span>
                        <span class="action">
                            <label title="Case Sensitive"><input class="case-sensitive icon-checkbox" type="checkbox"><svg><use href="/images/search.svg#case-sensitive-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <label title="Whole Word (disabled)"><input class="whole-word icon-checkbox" type="checkbox" disabled><svg><use href="/images/search.svg#whole-word-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <label title="Regular Expression"><input class="use-regex icon-checkbox" type="checkbox"><svg><use href="/images/search.svg#use-regex-icon"></use></svg></label>
                        </span>
                        <span class="action">
                            <button class="search-button" type="button">Search</button>
                        </span>
                    </span>
                </div>
                <div class="results">
                    <button class="pull-down-menu results-button" type="button" title="Search Results"><svg class="gear"><use href="/images/actions.svg#gear"></use></svg></button><span class="results-string">Characters:&nbsp;<span class="hit-count"></span>&nbsp;/&nbsp;<span class="total-count"></span></span>
                </div>
                <div class="search-data"></div>
            </div>
            <div class="tab-pane list-by-block">
                <div class="actions-no-flex">
                    <span class="action-group-no-flex">
                        <span class="action-no-flex">
                            <select class="select-block-name"></select>
                        </span>
                        <br>
                        <span class="action-no-flex">
                            <select class="select-block-range"></select>
                        </span>
                        <span class="action">
                            <button class="pull-down-menu history-button" type="button" title="Specimen History"><svg class="history"><use href="/images/actions.svg#history"></use></svg></button>
                        </span>
                        <span class="action-no-flex">
                            <input class="specimen" type="search" maxlength="64" title="Unicode specimen (code point or character)" placeholder="Specimen…">
                        </span>
                        <span class="action">
                            <button class="go-button" type="button">Go</button>
                        </span>
                    </span>
                </div>
                <div class="results">
                    <button class="pull-down-menu results-button" type="button" title="Results"><svg class="gear"><use href="/images/actions.svg#gear"></use></svg></button><span class="results-string">Characters:&nbsp;<span class="hit-count"></span>&nbsp;/&nbsp;Block size:&nbsp;<span class="total-count"></span></span>
                </div>
                <div class="search-data"></div>
            </div>
        </div>
    </div>
    <div class="tab-infos">
        <div class="tab-info find-by-name">
            <div class="accent-panel">
                <details class="instructions">
                    <summary>Instructions</summary>
                    <ul>
                        <li>The <strong>Find by Name</strong> feature of the <strong>Unicode Data Finder</strong> utility displays a list of basic data (character, code point, name/aliases, block) of matching Unicode characters searched by name or alias, including through regular expressions.</li>
                        <li>After entering a query, click on the <kbd>Search</kbd> button to display a list of all relevant matches, if any, ordered by code point value.</li>
                        <li>It is possible to choose how many characters are shown one page at a time.</li>
                        <li>When available, name aliases are displayed (in italics and smaller typeface) after the unique and immutable Unicode name. A correction alias is indicated by a leading reference mark <code>※</code>.</li>
                        <li>All names and aliases are obtained from the <a title="https://www.unicode.org/Public/16.0.0/ucd/UnicodeData.txt" href="https://www.unicode.org/Public/16.0.0/ucd/UnicodeData.txt">UnicodeData.txt</a> and <a title="https://www.unicode.org/Public/16.0.0/ucd/NameAliases.txt" href="https://www.unicode.org/Public/16.0.0/ucd/NameAliases.txt">NameAliases.txt</a> data files.</li>
                        <li>The search is performed on the 294,579 assigned characters (or code points) defined in the <strong>Unicode 16.0</strong> version of the <a title="https://www.unicode.org/Public/16.0.0/ucd/UnicodeData.txt" href="https://www.unicode.org/Public/16.0.0/ucd/UnicodeData.txt">UnicodeData.txt</a> data file.</li>
                        <li>Use the <kbd>Search Results&nbsp;▾</kbd> pop-up menu to perform an action among:
                            <ul>
                                <li><code>Copy Search Results</code> [copy the search results as string to the clipboard]</li>
                                <li><code>Save Search Results...</code> [save the search results as string to a text file]</li>
                                <li><code>Clear Search Results</code> [clear the current list of search results]</li>
                            </ul>
                        </li>
                        <li>Various examples of regular expressions are provided for quick copy-and-paste.</li>
                    </ul>
                </details>
                <details class="regex-examples">
                    <summary>Regex Examples</summary>
                    <ul>
                        <li>Characters which are vowels with caron used in Mandarin Chinese pinyin romanization:<br><code class="select-all">letter [aeiou] with (diaeresis and )?caron</code></li>
                        <li>Characters whose name starts with either "cjk radical" or "kangxi radical":<br><code class="select-all">^(cjk|kangxi) radical</code></li>
                        <li>Characters whose name contains both "hiragana" and "katakana":<br><code class="select-all">^(?=.*hiragana)(?=.*katakana)</code></li>
                        <li>Characters whose name contains both "katakana" and whole-word "a":<br><code class="select-all">^(?=.*katakana)(?=.*\ba\b)</code></li>
                        <li>Characters whose name contains "bamboo" but not "radical":<br><code class="select-all">^(?=.*bamboo)(?!.*radical)</code></li>
                        <li>Characters whose name contains words ending with "boat", but are not "boat":<br><code class="select-all">\b\w+boat\b</code></li>
                        <li>Characters whose name's length is greater than or equal to 72:<br><code class="select-all">.{72,}</code></li>
                    </ul>
                </details>
                <details class="references">
                    <summary>Reference Links</summary>
                    <div class="links"></div>
                </details>
            </div>
        </div>
        <div class="tab-info match-character">
            <div class="accent-panel">
                <details class="instructions">
                    <summary>Instructions</summary>
                    <ul>
                        <li>The <strong>Match Character</strong> feature of the <strong>Unicode Data Finder</strong> utility displays a list of basic data (character, code point, name/aliases, block) of Unicode characters matching a character, including through regular expressions.</li>
                        <li>After entering a query, click on the <kbd>Search</kbd> button to display a list of all relevant matches, if any, ordered by code point value.</li>
                        <li>Click on the <kbd><svg style="width: 15px; height: 15px; vertical-align: text-bottom;"><use href="/images/search.svg#match-decomposition-icon"></use></svg></kbd> (<em>Match Decomposition</em>) toggle button to extend the search to characters whose <em>decomposition mapping</em> matches the query string.</li>
                        <li>It is possible to choose how many characters are shown one page at a time.</li>
                        <li>The search is performed on the 294,579 assigned characters (or code points) defined in the <strong>Unicode 16.0</strong> version of the <a title="https://www.unicode.org/Public/16.0.0/ucd/UnicodeData.txt" href="https://www.unicode.org/Public/16.0.0/ucd/UnicodeData.txt">UnicodeData.txt</a> data file.</li>
                        <li>Use the <kbd>Search Results&nbsp;▾</kbd> pop-up menu to perform an action among:
                            <ul>
                                <li><code>Copy Search Results</code> [copy the search results as string to the clipboard]</li>
                                <li><code>Save Search Results...</code> [save the search results as string to a text file]</li>
                                <li><code>Clear Search Results</code> [clear the current list of search results]</li>
                            </ul>
                        </li>
                        <li>Various examples of regular expressions are provided for quick copy-and-paste.</li>
                    </ul>
                </details>
                <details class="regex-examples">
                    <summary>Regex Examples</summary>
                    <p><span class="match-decomposition off"><svg><use href="/images/search.svg#match-decomposition-icon"></use></svg></span> (<em>Match Decomposition</em>) toggled <strong>off</strong>:</p>
                    <ul>
                        <li>Characters with the 'White_Space' binary property:<br><code class="select-all">\p{White_Space}</code></li>
                        <li>Characters considered white space in Unicode by the regular expression engine:<br><code class="select-all">\s</code></li>
                        <li>Characters considered line terminators in Unicode by the regular expression engine:<br><code class="select-all">(?!.)[^]</code> or <code class="select-all">(?!.)[\s\S]</code></li>
                        <li>All assigned Unicode characters:<br><code class="select-all">.*</code> or <code class="select-all">[^]</code> or <code class="select-all">[\s\S]</code></li>
                        <li>Characters with the 'General_Category' property equal to 'Private_Use':<br><code class="select-all">\p{Private_Use}</code></li>
                        <li>Characters without the 'General_Category' property equal to 'Private_Use':<br><code class="select-all">\P{Private_Use}</code> or <code class="select-all">[^\p{Private_Use}]</code></li>
                        <li>Characters without the 'General_Category' property equal to 'Control', 'Surrogate' or 'Private_Use', i.e., the total of 154,998 Unicode characters actually defined in Unicode 16.0:<br><code class="select-all">[^\p{Control}\p{Surrogate}\p{Private_Use}]</code><br>or<br><code class="select-all">(?=\P{Control})(?=\P{Surrogate})(?=\P{Private_Use})</code></li>
                        <li>Characters with the 'General_Category' property equal to 'Open_Punctuation' or 'Close_Punctuation':<br><code class="select-all">[\p{Open_Punctuation}\p{Close_Punctuation}]</code><br>or<br><code class="select-all">\p{Open_Punctuation}|\p{Close_Punctuation}</code></li>
                        <li>Characters with the 'Dash' binary property, but without the 'General_Category' property equal to 'Dash_Punctuation':<br><code class="select-all">(?=\p{Dash})(?!\p{Dash_Punctuation})</code><br>or<br><code class="select-all">(?=\p{Dash})(?=\P{Dash_Punctuation})</code></li>
                        <li>Characters with the 'Radical' binary property:<br><code class="select-all">\p{Radical}</code></li>
                        <li>Characters with the 'Hex_Digit' binary property:<br><code class="select-all">\p{Hex_Digit}</code></li>
                        <li>Characters with the 'Regional_Indicator' binary property:<br><code class="select-all">\p{Regional_Indicator}</code></li>
                        <li>Characters with the 'Emoji_Modifier' binary property:<br><code class="select-all">\p{Emoji_Modifier}</code></li>
                        <li>Characters with the 'Script' property equal to 'Hiragana':<br><code class="select-all">\p{Script=Hiragana}</code></li>
                        <li>Characters belonging to the Unihan set, i.e., with the 'Script' property equal to 'Han' and the 'General_Category' property equal to 'Other_Letter':<br><code class="select-all">(?=\p{Script=Han})(?=\p{Other_Letter})</code></li>
                        <li>Characters with the 'Script' property equal to 'Latin' and the 'General_Category' property equal to 'Number':<br><code class="select-all">(?=\p{Script=Latin})(?=\p{Number})</code></li>
                        <li>Characters with the 'Emoji_Modifier_Base' binary property, but without the 'Emoji_Presentation' binary property:<br><code class="select-all">(?=\p{Emoji_Modifier_Base})(?!\p{Emoji_Presentation})</code><br>or<br><code class="select-all">(?=\p{Emoji_Modifier_Base})(?=\P{Emoji_Presentation})</code></li>
                        <li>Characters with the 'Ideographic' binary property, but without the 'Unified_Ideograph' binary property:<br><code class="select-all">(?=\p{Ideographic})(?!\p{Unified_Ideograph})</code><br>or<br><code class="select-all">(?=\p{Ideographic})(?=\P{Unified_Ideograph})</code></li>
                        <li>Characters with the 'Script_Extensions' property equal to 'Han', but without the 'Script' property equal to 'Han':<br><code class="select-all">(?=\p{Script_Extensions=Han})(?!\p{Script=Han})</code><br>or<br><code class="select-all">(?=\p{Script_Extensions=Han})(?=\P{Script=Han})</code></li>
                        <li>Characters with name corrections in Unicode 16.0:<br><code class="select-all">[Ƣƣؖ܉ೞຝຟຣລ࿐ᇬᇭᇮᇯᮽ℘⑈⑉⭺⭼ꀕꩮ︘𒋔𒋕𒌧𖠋𖹖𖹗𖹶𖹷𛀁𝃅𞢙𞢚]</code></li>
                    </ul>
                    <p><span class="match-decomposition on"><svg><use href="/images/search.svg#match-decomposition-icon"></use></svg></span> (<em>Match Decomposition</em>) toggled <strong>on</strong>:</p>
                    <ul>
                        <li>Character made of four integrals, i.e., a quadruple integral operator:<br><code class="select-all">∫{4}</code></li>
                        <li>Characters containing two digits (0 to 9):<br><code class="select-all">\d\d</code></li>
                        <li>Characters made of two letters separated by a slash:<br><code class="select-all">\w/\w</code></li>
                        <li>Characters which are latin small ligatures starting wih 'f':<br><code class="select-all">f[fil]</code></li>
                        <li>Characters made of a single katakana letter 'ho':<br><code class="select-all">^ホ$</code></li>
                        <li>Characters containing either 上 (up, top, high) or 下 (down, bottom, low):<br><code class="select-all">上|下</code></li>
                        <li>Characters containing 左 (left), 中 (middle) or 右 (right):<br><code class="select-all">左|中|右</code></li>
                        <li>Characters containing one ideograph, Japanese shorthand for each of the seven days of the week:<br><code class="select-all">[月火水木金土日]</code></li>
                        <li>Characters made of a single bracketed ideograph:<br><code class="select-all">〔\p{Script=Han}〕</code></li>
                        <li>Characters made of a single parenthesized ideograph:<br><code class="select-all">\(\p{Script=Han}\)</code></li>
                        <li>Characters made of Arabic letters separated by white space, forming intricate Arabic ligatures:<br><code class="select-all">\p{Script=Arabic}\s\p{Script=Arabic}</code></li>
                        <li>Characters which are vowels with caron used in Mandarin Chinese pinyin romanization:<br><code class="select-all">[aeiouü]\u030C</code></li>
                        <li>Characters which are vowels with diacritics (four tones) used in Mandarin Chinese pinyin romanization:<br><code class="select-all">^[aeiouü][\u0304\u0301\u030C\u0300]$</code></li>
                    </ul>
                </details>
                <details class="references">
                    <summary>Reference Links</summary>
                    <div class="links"></div>
                </details>
            </div>
        </div>
        <div class="tab-info list-by-block">
            <div class="accent-panel">
                <details class="instructions">
                    <summary>Instructions</summary>
                    <ul>
                        <li>The <strong>List by Block</strong> feature of the <strong>Unicode Data Finder</strong> utility displays in real time a list of basic data (character, code point, name/aliases, block) of Unicode characters belonging to the same block range.</li>
                        <li>It is possible to choose how many characters are shown one page at a time.</li>
                        <li>A block can be selected either by <kbd>Block Name</kbd> or by <kbd>Block Range</kbd>, as defined in the <a title="https://www.unicode.org/Public/16.0.0/ucd/Blocks.txt" href="https://www.unicode.org/Public/16.0.0/ucd/Blocks.txt">Blocks.txt</a> data file.</li>
                        <li>It is also possible to directly enter a code point (or character) in the <kbd>Specimen</kbd> field, then click on the <kbd>Go</kbd> button to automatically select the block containing the code point, scroll its basic data into view, and highlight its hexadecimal code value.</li>
                        <li>You can quickly reuse a previously entered code point by using the <kbd>Alt</kbd>+<kbd>↑</kbd> and <kbd>Alt</kbd>+<kbd>↓</kbd> keyboard shortcuts to navigate up and down through the history stack in the <kbd>Specimen</kbd> field. Alternatively, you can also use the <kbd>Specimen&nbsp;History&nbsp;▾</kbd> pop-up menu to automatically jump to a specific code point.</li>
                        <li>Use the <kbd>Results&nbsp;▾</kbd> pop-up menu to perform an action among:
                            <ul>
                                <li><code>Copy Results</code> [copy the results as string to the clipboard]</li>
                                <li><code>Save Results...</code> [save the results as string to a text file]</li>
                            </ul>
                        </li>
                    </ul>
                </details>
                <details class="references">
                    <summary>Reference Links</summary>
                    <div class="links"></div>
                </details>
            </div>
        </div>
    </div>
</section>
