@charset "utf-8";

#unicode-data-finder-unit .plain-panel
{
    padding-bottom: 1em;
    overflow-x: visible;
}

#unicode-data-finder-unit .tab-bar
{
    display: flex;
    justify-content: center;
    white-space: nowrap;
    margin: -2em 0 1.5em 0;
}

#unicode-data-finder-unit .tab-bar .tab-label .tab-radio
{
    display: none;
}

#unicode-data-finder-unit .tab-bar .tab-label span
{
    padding: 0.2em 1em;
    font-size: 1em;
    font-weight: 600;
    border: 1px solid var(--color-accent);
    border-radius: 0;
    background-color: white;
    color: var(--color-accent);
    margin: 0 -2px;
    vertical-align: middle;
}

#unicode-data-finder-unit .tab-bar .tab-label:first-of-type span
{
    border-top-left-radius : 0.5em;
    border-bottom-left-radius : 0.5em;
    margin-right: -3px;
}

#unicode-data-finder-unit .tab-bar .tab-label:last-of-type span
{
    border-top-right-radius : 0.5em;
    border-bottom-right-radius : 0.5em;
    margin-left: -3px;
}

#unicode-data-finder-unit .tab-bar .tab-label .tab-radio:checked + span
{
    background-color: var(--color-accent);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    color: white;
}

#unicode-data-finder-unit .tab-bar .tab-label .tab-radio:not(:checked) + span:hover
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.75), hsla(0, 0%, 100%, 0.75));
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
}

#unicode-data-finder-unit .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin: 0 0 0.5em 0;
    white-space: nowrap;
}

#unicode-data-finder-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.25em 0;
}

#unicode-data-finder-unit .search-group
{
    flex-grow: 1;
    margin-right: -0.5em;
}

#unicode-data-finder-unit .search-group .action
{
    margin-right: 0.5em;
}

#unicode-data-finder-unit .search-wrap
{
    width: 100%;
}

#unicode-data-finder-unit .search-string
{
    font-family: var(--sans-serif-family);
    font-size: 14px;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    width: 100%;
}

#unicode-data-finder-unit .search-string.error
{
    color: var(--color-error);
    outline-color: var(--color-error);
}

#unicode-data-finder-unit .search-message
{
    display: none;
}

#unicode-data-finder-unit .search-message.shown::before
{
    content: "";
    position: absolute;
    top: -8px;
    left: 8px;
    width: 20px;
    height: 10px;
    background-color: var(--color-error);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#unicode-data-finder-unit .search-message.shown
{
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-right: 2rem;
    font-family: var(--monospace-family);
    font-size: 12px;
    white-space: pre-wrap;
    padding: 0.375em 0.75em;
    color: white;
    background-color: var(--color-error);
    border-radius: 4px;
    box-shadow: 0 2px 8px #AAAAAA;
    z-index: 1;
}

#unicode-data-finder-unit .icon-checkbox
{
    display: none;
}

#unicode-data-finder-unit .icon-checkbox + svg
{
    font-size: 1.7em;
    line-height: 1em;
    text-align: center;
    padding: 1px;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background: white;
    border: 1px solid var(--color-accent);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    color: var(--color-accent);
    fill: var(--color-accent);
}

#unicode-data-finder-unit .icon-checkbox:checked + svg
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.15));
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: white;
    fill: white;
}

#unicode-data-finder-unit .icon-checkbox:disabled + svg
{
    color: gray;
    fill: gray;
    border: gray 1px solid;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    pointer-events: none;
}

#unicode-data-finder-unit .results
{
    text-align: left;
    font-size: small;
    margin: 0.25em 0 0.8em 0;
    user-select: text;
    cursor: text;
}

#unicode-data-finder-unit .results .results-button
{
    padding: 3px 6px;
    margin-right: 1em;
    user-select: none;
}

#unicode-data-finder-unit .results .results-button svg.gear
{
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-bottom;
}

#unicode-data-finder-unit .results .results-string
{
    line-height: 1em;
}

#unicode-data-finder-unit .results .results-string .hit-count,
#unicode-data-finder-unit .list-by-block .results .results-string .total-count
{
    font-weight: bold;
}

#unicode-data-finder-unit .action-group-no-flex .action-no-flex *
{
    margin-bottom: 0.5em;
}

#unicode-data-finder-unit .list-by-block .history-button
{
    padding: 1px 6px;
    margin: 0 0.5em 0 1.5em;
    user-select: none;
    white-space: nowrap;
}

#unicode-data-finder-unit .list-by-block .history-button svg.history
{
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
    margin-right: -0.25em;
}

#unicode-data-finder-unit .list-by-block .specimen
{
    font-family: var(--sans-serif-family);
    font-size: 14px;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    padding: 0.2em 0.3em;
    width: 7.5em;
    margin: 0 0.25em 0 0;
    line-height: 1.2em;
}

#unicode-data-finder-unit .list-by-block .specimen.invalid
{
    color: var(--color-error);
    outline-color: var(--color-error);
}

#unicode-data-finder-unit .pagination-bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0.75em 0 0 0;
}

#unicode-data-finder-unit .pagination-bar .pagination-group
{
    white-space: nowrap;
    display: flex;
}

#unicode-data-finder-unit .pagination-bar .page-select:disabled
{
    pointer-events: none;
}

#unicode-data-finder-unit .pagination-bar .page-select,
#unicode-data-finder-unit .pagination-bar .page-nav-button
{
    margin-right: 0.75em;
    height: 26px;
}

#unicode-data-finder-unit .pagination-bar .page-select
{
    font-family: var(--monospace-family);
    font-weight: bold;
    font-size: 14px;
    padding: 3px 2px 2px 6px;
    text-align: right;
}

#unicode-data-finder-unit .pagination-bar .page-nav-button
{
    width: 2.4em;
    padding: 3px 6px;
    /* border-radius: 0; */
}

#unicode-data-finder-unit .pagination-bar .page-nav-button svg.page-nav-icon
{
    width: 1em;
    height: 1em;
    vertical-align: bottom;
    fill: currentColor;
}

#unicode-data-finder-unit .pagination-bar .page-info
{
    margin: 0 1em 0 0.5em;
}

/* Dirty hack */
#unicode-data-finder-unit .search-data .symbol.private-use
{
    font-family: "BabelStone Han PUA", "BabelStone Han";
    color: var(--color-accent);
}

#unicode-data-finder-unit .search-data .data-table
{
    margin: 0.8em 0;
}

#unicode-data-finder-unit .search-data .symbol-header,
#unicode-data-finder-unit .search-data .code-point-header,
#unicode-data-finder-unit .search-data .name-header,
#unicode-data-finder-unit .search-data .block-name-header
{
    text-align: left;
    font-size: 13px;
    line-height: 1em;
    padding: 0.5em;
}

#unicode-data-finder-unit .search-data .symbol-header
{
    width: 90px;
}

#unicode-data-finder-unit .search-data .code-point-header
{
    width: 6em;
    text-align: center;
}

#unicode-data-finder-unit .search-data .name-header
{
}

#unicode-data-finder-unit .search-data .block-name-header
{
    width: 14em;
}

#unicode-data-finder-unit .search-data .row
{
    background-color: white;
    user-select: text;
    cursor: text;
}

#unicode-data-finder-unit .search-data .row.unassigned
{
    background-image: url("crosshatch-1-1-h-flip.svg");
    background-size: 8px;
    background-position: center;
    color: var(--color-dimmed);
}

#unicode-data-finder-unit .list-by-block .search-data .highlighted
{
    background-color: var(--color-highlight);
}

#unicode-data-finder-unit .search-data .symbol-header
{
    text-align: center;
}

#unicode-data-finder-unit .search-data .unassigned .symbol
{
    user-select: none;
    cursor: default;
}

#unicode-data-finder-unit .search-data .symbol
{
    font-family: var(--sans-serif-family);
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    line-height: 1.2em;
    height: 1.6em;
    min-width: 2.5em;
    max-width: 2.5em;
    padding: 0.2em 0.1em;
    overflow-x: overlay;
    overscroll-behavior: contain;
}

#unicode-data-finder-unit .search-data .code-point
{
    font-family: var(--monospace-family);
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
    padding: 0.5em;
}

#unicode-data-finder-unit .search-data .names
{
    text-align: left;
    vertical-align: middle;
    padding: 0.25em 0.5em;
}

#unicode-data-finder-unit .search-data .names .name
{
    margin: 3px 0;
    line-height: 1em;
}

#unicode-data-finder-unit .search-data .names .alias,
#unicode-data-finder-unit .search-data .names .correction
{
    margin: 3px 0;
    font-size: 0.85em;
    font-style: italic;
    line-height: 1em;
}

#unicode-data-finder-unit .search-data .names .correction::before
{
    content: "※\A0";
}

#unicode-data-finder-unit .search-data .block-name
{
    text-align: left;
    line-height: 1em;
    vertical-align: middle;
    padding: 0.5em;
    hyphens: none;
}

#unicode-data-finder-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#unicode-data-finder-unit .instructions li
{
    margin: 0.25em 0;
}

#unicode-data-finder-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em 1px;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unicode-data-finder-unit .instructions code
{
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unicode-data-finder-unit .regex-examples p
{
    margin: -0.1em 0 1.5em 1.5em;
}

#unicode-data-finder-unit .regex-examples ul
{
    margin: -0.5em 0 1em 0;
}

#unicode-data-finder-unit .regex-examples li
{
    margin: 0.5em 0;
}

#unicode-data-finder-unit .regex-examples li > ul
{
    margin: 0.5em 0;
}

#unicode-data-finder-unit .instructions li > ul
{
    margin: 0 0 0.25em 0;
}

#unicode-data-finder-unit .regex-examples kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em 1px;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unicode-data-finder-unit .regex-examples code
{
    color: inherit;
    white-space: normal;
    overflow-wrap: break-word;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unicode-data-finder-unit .regex-examples code.select-all
{
    user-select: all;
    cursor: text;
}

#unicode-data-finder-unit .regex-examples .match-decomposition
{
    padding: 2px 2px 6px 2px;
    vertical-align: baseline;
}

#unicode-data-finder-unit .regex-examples .match-decomposition svg
{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#unicode-data-finder-unit .regex-examples .match-decomposition.off
{
    background: white;
    border: 1px solid var(--color-accent);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    color: var(--color-accent);
    fill: var(--color-accent);
}

#unicode-data-finder-unit .regex-examples .match-decomposition.on
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.15));
    border: 1px solid var(--color-accent);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: white;
    fill: white;
}

#unicode-data-finder-unit details
{
    margin: 1.2em 0;
}

#unicode-data-finder-unit details[open] summary
{
    margin: 1.2em 0;
}

#unicode-data-finder-unit summary
{
    font-weight: bold;
}

