@charset "utf-8";

#unikemet-inspector-unit .plain-panel
{
    padding-bottom: 0.75em;
}

#unikemet-inspector-unit .interface
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin: 0.5em 0 0.75em 0;
}

#unikemet-inspector-unit .option-group
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
}

#unikemet-inspector-unit .option-group + .option-group
{
    margin-left: 1em;
}

#unikemet-inspector-unit .option + .option
{
    margin-left: 1.5em;
}

#unikemet-inspector-unit .history-button
{
    padding: 1px 6px;
    margin-right: 0.75em;
    user-select: none;
    white-space: nowrap;
}

#unikemet-inspector-unit .history-button::after
{
    top: -2px;
}

#unikemet-inspector-unit .history-button svg.history
{
    width: 21px;
    height: 21px;
    vertical-align: text-bottom;
    margin-right: -0.25em;
}

#unikemet-inspector-unit .unikemet-input
{
    font-family: var(--sans-serif-family);
    font-size: 16px;
    line-height: 1.333em;
    padding: 2px 6px;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    width: 7.5em;
    margin-right: 0.5em;
}

#unikemet-inspector-unit .unikemet-input.invalid
{
    color: var(--color-error);
    outline-color: var(--color-error);
}

#unikemet-inspector-unit .random-button
{
    margin-left: 0.75em;
}

#unikemet-inspector-unit .character-data
{
    display: flex;
    flex-direction: row;
    margin: 1.25em 0 0.75em 0;
}

#unikemet-inspector-unit .unikemet-card
{
    background: white;
    border: 2px solid var(--color-border);
    text-align: center;
    min-width: 144px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0.5em 1em; */
    /* justify-content: center; */
    user-select: text;
    cursor: text;
}

#unikemet-inspector-unit .unikemet-wrapper
{
    margin: 1.2em 0;
}

#unikemet-inspector-unit .unikemet-card .unikemet-character
{
    display: inline-block;
    font-family: var(--unikemet-family);
    font-size: 72px;
    line-height: 1.5em;
    width: 2em;
    height: 1.5em;
    /* margin-top: 0.25em; */
}

#unikemet-inspector-unit .unikemet-card .unikemet-code-point
{
    display: inline-block;
    font-family: var(--monospace-family);
    font-size: 13.5px;
    font-weight: bold;
    margin-bottom: 0.25em;
    border: 1px solid var(--color-border);
    /* border-radius: 5px; */
    background-color: var(--color-bg);
    padding: 0 5px;
}

#unikemet-inspector-unit .unicode-info,
#unikemet-inspector-unit .unikemet-info
{
    font-family: var(--monospace-family);
    font-size: 13.5px;
    line-height: 1.25em;
    background: white;
    border: 2px solid var(--color-border);
    /* border-radius: 8px; */
    text-align: left;
    padding: 0.5em 1em;
    margin-left: 0.9em;
    user-select: text;
    cursor: text;
}

#unikemet-inspector-unit .unicode-info
{
    flex-basis: 100%;
}

#unikemet-inspector-unit .unikemet-info
{
    flex-basis: 100%;
}

#unikemet-inspector-unit .unikemet-info .invalid-unikemet
{
    font-style: italic;
    line-height: 1.333em;
}

#unikemet-inspector-unit .unicode-info .field,
#unikemet-inspector-unit .unikemet-info .field
{
    margin: 0.35em 0;
}

#unikemet-inspector-unit .unicode-info .field .name,
#unikemet-inspector-unit .unikemet-info .field .name
{
    font-weight: 600;
    color: var(--color-strongest);
}

#unikemet-inspector-unit .unikemet-info .field .list
{
    margin: 0 0 0 -24px;
}

#unikemet-inspector-unit .unikemet-info .field .list .item
{
    margin: 0.1em 0;
    /* white-space: nowrap */
}

#unikemet-inspector-unit .unikemet-info .field .list .item.irg-source,
#unikemet-inspector-unit .unikemet-info .field .list .item.cjk-radical-current,
#unikemet-inspector-unit .unikemet-info .field .value.kangxi-radical-current
{
    list-style-type: disc;
}

#unikemet-inspector-unit .unikemet-info .field .list .item.no-irg-source,
#unikemet-inspector-unit .unikemet-info .field .list .item.cjk-radical,
#unikemet-inspector-unit .unikemet-info .field .value.kangxi-radical
{
    color: var(--color-dimmed);
    list-style-type: circle;
}

#unikemet-inspector-unit span.unikemet-character-link
{
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0 1px;
    margin: auto -1px;
    white-space: nowrap;
}

#unikemet-inspector-unit span.unikemet-character-link:hover
{
    border: 1px dotted var(--color);
    cursor: default;
}

#unikemet-inspector-unit span.unikemet-character-link.clickable:hover
{
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9));
    cursor: pointer;
}

#unikemet-inspector-unit .properties-data
{
    margin: 1em 0 0.75em 0;
}

#unikemet-inspector-unit .properties-data .properties-list
{
    font-size: 13.5px;
    margin: 0.75em 0;
    user-select: text;
    cursor: text;
}

#unikemet-inspector-unit .properties-data .properties-list .list
{
    margin: 0;
    list-style-type: square;
}

#unikemet-inspector-unit .properties-data .properties-list .list .item
{
    margin-left: -24px;
}

#unikemet-inspector-unit .properties-data .properties-list .list .item + .item
{
    margin-top: 0.25em;
}

#unikemet-inspector-unit .properties-data .properties-list .property-header,
#unikemet-inspector-unit .properties-data .properties-list .value-header
{
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    padding: 0.5em 0.75em;
}

#unikemet-inspector-unit .properties-data .properties-list .category-row .category-name
{
    background-color: white;
    color: var(--color-accent);
    text-align: left;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.25em;
    padding: 0.5em 0.75em;
}

#unikemet-inspector-unit .properties-data .properties-list .category-row .category-name::before
{
    content: "◎\A0";
    font-size: 1.05em;
}

#unikemet-inspector-unit .properties-data .properties-list .property,
#unikemet-inspector-unit .properties-data .properties-list .value
{
    font-family: var(--monospace-family);
    background-color: white;
    text-align: left;
    line-height: 1.25em;
    padding: 0.4em 0.8em;
}

#unikemet-inspector-unit .properties-data .properties-list .property
{
    white-space: nowrap;
    font-weight: 600;
    color: var(--color-strongest);
}

#unikemet-inspector-unit .properties-data .properties-list .value
{
    width: 100%;
    word-break: break-word;
}

#unikemet-inspector-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#unikemet-inspector-unit .instructions li
{
    margin: 0.25em 0;
}

#unikemet-inspector-unit .instructions li > ul
{
    margin: 0 0 0.25em 0;
}

#unikemet-inspector-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em 1px;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unikemet-inspector-unit .instructions code
{
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unikemet-inspector-unit details
{
    margin: 1.2em 0;
}

#unikemet-inspector-unit details[open] summary
{
    margin: 1.2em 0;
}

#unikemet-inspector-unit summary
{
    font-weight: bold;
}

