<section id="unikemet-inspector-unit">
    <div class="plain-panel">
        <div class="interface">
            <span class="option-group">
                <button class="pull-down-menu history-button" type="button" title="Lookup History"><svg class="history"><use href="/images/actions.svg#history"></use></svg></button>
                <input class="unikemet-input" type="search" maxlength="64" title="Unikemet character or code point" placeholder="Unikemet…">
                <button class="look-up-button" type="button">Look Up</button>
            </span>
            <span class="option-group">
                <label>Set:&nbsp;<select class="random-set-select"><option value="Core">Core Unikemet</option><option value="Full">Full Unikemet</option></select></label>
                <button class="random-button" type="button">Random</button>
            </span>
        </div>
        <div class="info-container"></div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>The <strong>Unikemet Inspector</strong> utility displays all the available Unikemet properties for each of the 5,067 Unikemet characters defined in <strong>Unicode 16.0</strong>, based on the <a title="https://www.unicode.org/Public/16.0.0/ucd/Unikemet.txt" href="https://www.unicode.org/Public/16.0.0/ucd/Unikemet.txt">Unikemet.txt</a> data file.</li>
                <li>Any Unikemet character can be entered in the <kbd>Unikemet</kbd> input field either as a character or a code point. Click on the <kbd>Look Up</kbd> button to display the list of Unikemet properties.</li>
                <li>In addition, the utility provides, for each Unikemet character:
                <ul>
                <li>basic Unicode information: name, age, plane, block, script, script extensions, general category, extended properties;</li>
                <li>basic Unikemet information: set (<em>Core Unikemet</em>, <em>Full Unikemet</em>), group, subgroup, description.</li>
                </ul>
                <li>Previously looked up characters are kept in a history stack; use the <kbd>Alt</kbd>+<kbd>↑</kbd> and <kbd>Alt</kbd>+<kbd>↓</kbd> keyboard shortcuts to navigate through them up and down inside the input field. Alternatively, you can also use the <kbd>Lookup&nbsp;History&nbsp;▾</kbd> pop-up menu to automatically look up a specific character.</li>
                <li>
                    It is also possible to look up a randomly selected Unikemet character by clicking on the <kbd>Random</kbd> button; use the <kbd>Set</kbd> drop-down menu to perform the draw on a specified Unikemet set:
                    <ul>
                        <li><code>Core Unikemet</code>: curated subset of characters from the full Egyptian hieroglyph encoded set,</li>
                        <li><code>Full Unikemet</code>: full Egyptian hieroglyph encoded set.</li>
                    </ul>
                </li>
                <li>The currently looked up character is displayed at a large scale, followed by its code point.</li>
                <li>Notes:
                    <ul>
                        <li>The acronym "IFAO" stands for: <em>Institut Français d’Archéologie Orientale</em>.</li>
                        <li>"Unikemet" is the name given to the hieroglyph database defined in Unicode, coming from <em>Kemet</em> which is what the Egyptians used to call their country, literally the "Black Land" (<em>kem</em> meant "black" in ancient Egyptian).</li>
                    </ul>
                </li>
            </ul>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
