@charset "utf-8";

@font-face
{
    font-family: "Sans CJK JP";
    src: url("cjk-fonts/SourceHanSans-VF.otf.woff2") format("woff2");
}

@font-face
{
    font-family: "Sans CJK KR";
    src: url("cjk-fonts/SourceHanSansK-VF.otf.woff2") format("woff2");
}

@font-face
{
    font-family: "Sans CJK SC";
    src: url("cjk-fonts/SourceHanSansSC-VF.otf.woff2") format("woff2");
}

@font-face
{
    font-family: "Sans CJK TC";
    src: url("cjk-fonts/SourceHanSansTC-VF.otf.woff2") format("woff2");
}

@font-face
{
    font-family: "Sans CJK HK";
    src: url("cjk-fonts/SourceHanSansHC-VF.otf.woff2") format("woff2");
}

@font-face
{
    font-family: "JSesh Font Embedded";
    src: url("hieroglyph-fonts/JSeshFont.ttf") format("truetype");
}

@font-face
{
    font-family: "Egyptian Text Embedded";
    src: url("hieroglyph-fonts/eot.ttf") format("truetype");
}

@font-face
{
    font-family: "NotDef";
    src: url("not-def-font/AND-Regular.otf") format("opentype");
}

@font-face
{
    font-family: "Blank";
    src: url("blank-font/AdobeBlank2.otf") format("opentype");
}

:root
{
    --color:           hsl(0, 0%, 22%);
    --color-subtle:    hsl(0, 0%, 44%);
    --color-strong:    hsl(0, 0%, 11%);
    --color-strongest: hsl(0, 0%, 0%);
    --color-dimmed:    hsl(0, 0%, 56%);
    --color-border:    hsl(31, 5%, 88%);
    --color-bg:        hsl(31, 5%, 96%);
    --color-accent:    hsl(196, 75%, 37%);
    --color-hover:     hsl(270, 100%, 50%);
    --color-error:     hsl(0, 100%, 40%);
    --color-highlight: hsl(56, 100%, 50%);
    --color-selection: hsl(255, 75%, 60%);
    --color-focus:     hsl(210, 100%, 67%);
    --sidebar-duration: calc(1s/10);
    --sidebar-width: 240px;
    --monospace-family: "Segoe UI Mono", Monaco, Menlo, "DejaVu Sans Mono", "Liberation Mono", "Noto Mono", "Ubuntu Mono", monospace;
    --system-ui-family: "Segoe UI", system-ui, sans-serif;
    --sans-serif-family: "Segoe UI", Arial, Geneva, Verdana, Tahoma, "DejaVu Sans", "Liberation Sans", "Noto Sans", Ubuntu, sans-serif;
    --sans-serif-emoji-family: "Segoe UI", Arial, Geneva, Verdana, Tahoma, "DejaVu Sans", "Liberation Sans", "Noto Sans", Ubuntu, sans-serif, "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", emoji;
    --emoji-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", emoji;
    --unihan-family: sans-serif;
    --unikemet-family: "JSesh Font Embedded", "Egyptian Text Embedded", sans-serif;
}
