@charset "utf-8";

:focus
{
    outline: var(--color-focus) auto 3px;
}

:not(input):not(textarea)::selection
{
    color: var(--color-bg);
    background-color: var(--color-selection);
}

html
{
    box-sizing: border-box;
}
*, *::before, *::after
{
    box-sizing: inherit;
}

html
{
    user-select: none;
    -webkit-user-drag: none;
    cursor: default;
    height: 100%;
    font-family: var(--system-ui-family);
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    color: var(--color);
    background-color: var(--color-bg);
}

body
{
    margin: 0;
    height: 100%;
    display: flex;
    /* caret-color: var(--color-accent); */
}

button
{
    cursor: default;
}

a
{
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dotted;
    outline: none;
    color: var(--color-accent);
}

a:hover
{
    color: var(--color-hover);
}

a[href^="http://"],
a[href^="https://"]
{
    border-bottom: 1px solid;
}

img
{
    -webkit-user-drag: none;
}

h1, h2, h3
{
    margin-top: 0;
    line-height: 1.5;
    color: var(--color-accent);
}

h1
{
    font-size: 1.5rem;
    font-weight: bold;
}

h2
{
    font-size: 1.3rem;
    font-weight: normal;
}

h3
{
    font-size: 1.12rem;
    font-weight: bold;
}

table
{
    width: 100%;
    border-spacing: 0;
    border: 1px solid hsla(0, 0%, 0%, 0.08);
    border-width: 0 1px 1px 0;
    background-color: hsla(0, 0%, 50%, 0.06);
}

tr
{
    vertical-align: text-bottom;
    line-height: 1.4em;
}

th,
td
{
    text-align: center;
    border: 1px solid hsla(0, 0%, 0%, 0.08);
    border-width: 1px 0 0 1px;
}

svg.nav-icon
{
    fill: currentColor;
    /* transform: rotate(90deg); */
}

svg.app-color-icon
{
    width: 88px;
    height: 88px;
    fill: var(--color-accent);
}

div.unicode-version
{
    font-weight: 600;
    /* font-size: 12px; */
    /* font-style: italic; */
}

div.easter-egg-message
{
    /* font-weight: 600; */
    /* font-size: 12px; */
    font-style: italic;
}

code,
kbd
{
    font-family: var(--monospace-family);
    border-radius: 3px;
    padding: 1px 3px;
    white-space: nowrap;
    color: hsl(0, 0%, 36%);
    background-color: hsla(0, 0%, 60%, 0.15);
}

.sidebar
{
    width: var(--sidebar-width);
    overflow-x: hidden;
    overflow-y: scroll;
    /* border-right: 1px solid var(--color-border); */
    color: var(--color-subtle);
    background-color: var(--color-bg);
    /* Hidden by default */
    margin-left: calc(-1 * var(--sidebar-width));
    visibility: hidden;
    transition: all var(--sidebar-duration) linear;
}

.sidebar.is-shown
{
    margin-left: 0;
    visibility: visible;
    transition: all var(--sidebar-duration) linear;
}

.sidebar.no-transition
{
    transition: none;
}

.sidebar .header
{
    position: relative;
    padding: 2rem 1em;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);
    text-align: center;
}

.sidebar .app-title
{
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    white-space: nowrap;
    color: var(--color-strong);
}

.sidebar .app-title .primary
{
    font-weight: 700;
}

.sidebar .app-title .secondary
{
    font-weight: 300;
}

.sidebar .categorized-nav,
.sidebar .uncategorized-nav
{
    /* Hidden by default */
    display: none;
}

.sidebar .categorized-nav.is-shown,
.sidebar .uncategorized-nav.is-shown
{
    display: block;
}

.sidebar .nav-item
{
    padding: 0.15rem 0 0.3rem 0;
}

.sidebar .nav-icon
{
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-right: 0.25rem;
}

.sidebar .nav-category
{
    color: var(--color-accent);
    font-weight: 600;
    margin: 0.3rem 0;
    padding-left: 2rem;
    font-size: 11px;
    text-transform: uppercase;
}

.sidebar .nav-button
{
    display: block;
    width: 100%;
    padding: 0.15rem 0;
    padding-left: calc(2rem + 16px + 0.25rem);
    text-align: left;
    font: inherit;
    font-size: 13px;
    font-weight: bold;
    color: var(--color-strong);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sidebar .nav-button:hover:not(.is-selected)
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.75), hsla(0, 0%, 100%, 0.75));
}

.sidebar .nav-button.is-selected
{
    background-color: var(--color-accent);
    color: white;
}

.sidebar .footer
{
    border-top: 1px solid var(--color-border);
    padding: 2em 0 0.75em;
    margin: 1.25em 0 1em 0;
    font: inherit;
    font-size: 13px;
    color: inherit;
    text-align: center;
}

.main
{
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: white;
    /* Hidden by default */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.main.is-shown
{
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}

.unit
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 2rem 2rem 0 2rem;
    /* Hidden by default */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.unit.is-shown
{
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}

.unit h3,
.unit p
{
    color: var(--color);
}

.unit-title
{
    font-weight: bold;
    line-height: 1;
    margin: 0;
    white-space: nowrap;
}

.unit-title [lang="zh"],
.unit-title [lang="ja"],
.unit-title [lang="ko"]
{
    font-size: 95%;
}

.unit-title svg.title-icon
{
    vertical-align: bottom;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.plain-panel
{
    position: relative;
    padding: 1rem 2rem;
    margin: 2rem 0;
    border-radius: 6px;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    overflow-x: auto;
}

.plain-panel > p:first-child
{
    margin-top: 0;
}

.plain-panel h2
{
    margin: 0 0 0.5em 0;
}

.accent-panel
{
    font-size: 13px;
    line-height: 20px;
    margin: 2rem 0;
    padding: 0 2rem 0.5em 2rem;
    border: 1px solid hsla(0, 0%, 0%, 0.06);
    border-radius: 6px;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9));
    overflow-x: auto;
}

.accent-panel strong
{
    font-weight: bold;
}

.accent-panel ul
{
    margin-top: -0.5em;
}

button.mouse-focus,
input[type=button].mouse-focus,
input[type=checkbox].mouse-focus,
input[type=color].mouse-focus,
input[type=radio].mouse-focus,
input[type=range].mouse-focus,
select.mouse-focus,
summary.mouse-focus
{
    outline: none;
}

button,
input[type=button]
{
    font: inherit;
    font-weight: bold;
    text-align: center;
    line-height: 1em;
    border-radius: 0.25em;
    border: var(--color-accent) 1px solid;
    padding: 0.25em 0.5em;
    color: var(--color-accent);
    fill: var(--color-accent);
    background-color: white;
}

button:hover,
input[type=button]:hover
{
    color: white;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.075), hsla(0, 0%, 100%, 0.075));
}

button:active,
input[type=button]:active
{
    color: white;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 0%, 0.15), hsla(0, 0%, 0%, 0.15));
    /* box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.25); */
}

button:disabled,
input[type=button]:disabled,
input[type=number]:disabled
{
    border-color: gray;
    color: gray;
    fill: gray;
    background-color: white;
    pointer-events: none;
}

input[type=text],
input[type=search]
{
    tab-size: 4;
}

select
{
    font-size: 1em;
    background: white;
    border: 1px solid var(--color-subtle);
    border-radius: 0.4em;
    padding: 0.1em 0.2em;
}

select:disabled
{
    border-color: gray;
}

input[type=number]
{
    border: 1px solid var(--color-subtle);
}

button.pull-down-menu,
button.pull-down-menu:hover,
button.pull-down-menu:active
{
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    background: white;
    color: var(--color);
    fill: var(--color);
    stroke: var(--color);
    border: 1px solid var(--color-subtle);
    border-radius: 0.4em;
    padding: 0.25em 0.5em;
}

button.pull-down-menu:disabled
{
    border-color: gray;
    color: gray;
    fill: gray;
    stroke: gray;
    pointer-events: none;
}

button.pull-down-menu.open
{
    background: var(--color-border);
}

button.pull-down-menu::after
{
    content: "\A0\A0▾";
    position: relative;
    top: -1px;
}
