<section id="regex-properties-unit">
    <div class="plain-panel">
        <div class="interface">
            <span class="option">
                <select class="category-select"></select>
            </span>
            <span class="option-group">
                <span class="option">
                    <label class="checkbox"><input class="negated-checkbox" type="checkbox">&nbsp;Negated</label>
                </span>
                <span class="option">
                    <label class="checkbox"><input class="optional-prefix-checkbox" type="checkbox">&nbsp;Optional Prefix</label>
                </span>
            </span>
        </div>
        <div class="container"></div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>
                    The <strong>Regex Properties</strong> utility displays all the <strong>Unicode 16.0</strong> properties available for regular expressions, used in particular by the <strong>Emoji Data Finder</strong>, <strong>Unicode Data Finder</strong> and <strong>Unihan Data Finder</strong> utilities.
                </li>
                <li>
                    These properties are suitable to build Unicode-aware regular expressions in JavaScript (ECMAScript 6) using the 'u' flag.
                </li>
                <li>
                    Unicode properties fall into four groups, which can be displayed individually using the <kbd>Category</kbd> drop-down menu:
                    <ul>
                        <li><strong>General Category</strong> properties</li>
                        <li><strong>Binary</strong> properties</li>
                        <li><strong>Script</strong> properties</li>
                        <li><strong>Script Extensions</strong> properties</li>
                    </ul>
                </li>
                <li>
                    For <strong>General Category</strong> properties, prefixing with <code>General_Category=</code> (Canonical) or <code>gc=</code> (Alias) is optional.
                    Use the <kbd>Optional Prefix</kbd> checkbox to control whether the prefix is included or not.
                </li>
                <li>
                    Groupings:
                    <table>
                        <tr>
                            <th>Cased_Letter</th>
                            <td>Uppercase_Letter&nbsp;| Lowercase_Letter&nbsp;| Titlecase_Letter</td>
                        </tr>
                        <tr>
                            <th>Letter</th>
                            <td>Uppercase_Letter&nbsp;| Lowercase_Letter&nbsp;| Titlecase_Letter&nbsp;| Modifier_Letter&nbsp;| Other_Letter</td>
                        </tr>
                        <tr>
                            <th>Mark</th>
                            <td>Nonspacing_Mark&nbsp;| Spacing_Mark&nbsp;| Enclosing_Mark</td>
                        </tr>
                        <tr>
                            <th>Number</th>
                            <td>Decimal_Number&nbsp;| Letter_Number&nbsp;| Other_Number</td>
                        </tr>
                        <tr>
                            <th>Punctuation</th>
                            <td>Connector_Punctuation&nbsp;| Dash_Punctuation&nbsp;| Open_Punctuation&nbsp;| Close_Punctuation&nbsp;| Initial_Punctuation&nbsp;| Final_Punctuation&nbsp;| Other_Punctuation</td>
                        </tr>
                        <tr>
                            <th>Symbol</th>
                            <td>Math_Symbol&nbsp;| Currency_Symbol&nbsp;| Modifier_Symbol&nbsp;| Other_Symbol</td>
                        </tr>
                        <tr>
                            <th>Separator</th>
                            <td>Space_Separator&nbsp;| Line_Separator&nbsp;| Paragraph_Separator</td>
                        </tr>
                        <tr>
                            <th>Other</th>
                            <td>Control&nbsp;| Format&nbsp;| Surrogate&nbsp;| Private_Use&nbsp;| Unassigned</td>
                        </tr>
                    </table>
                </li>
                <li>
                    <code>\P{…}</code> is the negated form of <code>\p{…}</code>.
                    Use the <kbd>Negated</kbd> checkbox to toggle between the two forms.
                </li>
                <li>
                    Notes:
                    <ul>
                        <li><code class="select-all">\p{Any}</code> is equivalent to <code class="select-all">[\u{0}-\u{10FFFF}]</code></li>
                        <li><code class="select-all">\p{ASCII}</code> is equivalent to <code class="select-all">[\u{0}-\u{7F}]</code></li>
                        <li><code class="select-all">\p{Assigned}</code> is equivalent to <code class="select-all">\P{Unassigned}</code> or <code class="select-all">\P{General_Category=Unassigned}</code></li>
                    </ul>
                </li>
            </ul>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
