@charset "utf-8";

#unihan-phonetics-unit .plain-panel
{
    padding-bottom: 0.75em;
}

#unihan-phonetics-unit
{
    --color-frame: hsl(0, 0%, 75%);
    --color-background: hsl(0, 0%, 92.5%);
}

#unihan-phonetics-unit .interface
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin: 0.5em 0 0.75em 0;
}

#unihan-phonetics-unit .interface.bis
{
    margin: 1em 0 1.25em 0;
    align-items: start;
}

#unihan-phonetics-unit .option-group
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
}

#unihan-phonetics-unit .option-group + .option-group
{
    margin-left: 1em;
}

#unihan-phonetics-unit .option + .option
{
    margin-left: 1.5em;
}

#unihan-phonetics-unit .history-button
{
    padding: 1px 6px;
    margin-right: 0.75em;
    user-select: none;
    white-space: nowrap;
}

#unihan-phonetics-unit .history-button::after
{
    top: -2px;
}

#unihan-phonetics-unit .history-button svg.history
{
    width: 21px;
    height: 21px;
    vertical-align: text-bottom;
    margin-right: -0.25em;
}

#unihan-phonetics-unit .unihan-input
{
    font-family: var(--sans-serif-family);
    font-size: 16px;
    line-height: 1.333em;
    padding: 2px 6px;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    width: 7.5em;
    margin-right: 0.5em;
}

#unihan-phonetics-unit .unihan-input.invalid
{
    color: var(--color-error);
    outline-color: var(--color-error);
}

#unihan-phonetics-unit .character-reference
{
    display: inline-flex;
}

#unihan-phonetics-unit .character-info
{
    display: inline-flex;
    flex-direction: column;
    border: 3px solid var(--color-border);
    border-radius: 6px;
    background-color: white;
    width: 72px;
    text-align: center;
    vertical-align: middle;
    margin-top: 0.125em;
}

#unihan-phonetics-unit .character-glyph
{
    display: inline-block;
    font-family: sans-serif;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    vertical-align: middle;
    user-select: text;
    cursor: text;
}

#unihan-phonetics-unit .character-code-point
{
    display: inline-block;
    font-family: var(--monospace-family);
    font-size: 12px;
    line-height: 1.2em;
    padding-bottom: 4px;
    font-weight: bold;
    user-select: text;
    cursor: text;
}

#unihan-phonetics-unit .sheet
{
    display: block;
    padding: 0;
}

#unihan-phonetics-unit .sheet table,
#unihan-phonetics-unit .sheet tr,
#unihan-phonetics-unit .sheet th,
#unihan-phonetics-unit .sheet td
{
    border-collapse: collapse;
    border: none;
    background-color: white;
}

#unihan-phonetics-unit .sheet .phonetics
{
    margin: 1em 0;
    background-color: transparent;
}

#unihan-phonetics-unit .sheet .phonetics th
{
    background-color: var(--color-background);
    border: 1px solid var(--color-frame);
    color: var(--color);
    text-align: center;
    vertical-align: middle;
    font-size: 12.5px;
    width: 88px;
    min-width: 88px;
    padding: 0.4em 0.2em;
    overflow: hidden;
}

#unihan-phonetics-unit .sheet .phonetics td
{
    border: 1px solid var(--color-frame);
    color: var(--color);
    vertical-align: middle;
    padding: 6px;
}

#unihan-phonetics-unit .sheet .phonetics .data-row
{
    vertical-align: middle;
}

#unihan-phonetics-unit .sheet .phonetics .phonetics-group
{
    width: 5em;
}

#unihan-phonetics-unit .sheet .phonetics .phonetics-group .phonetics-group-string
{
    display: inline-block;
    border: 1px solid var(--color-accent);
    border-radius: 3px;
    padding: 1px 2px;
    min-width: 52px;
    color: white;
    background-color: var(--color-accent);
    opacity: 0.9;
    font-family: var(--sans-serif-family);
    font-size: 14px;
    user-select: text;
    cursor: text;
}

#unihan-phonetics-unit .sheet .phonetics .phonetics-chars
{
    text-align: left;
}

#unihan-phonetics-unit .sheet .phonetics .combo
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 0;
    user-select: text;
    cursor: text;
}

#unihan-phonetics-unit .sheet .phonetics .combo .phonetics-readings
{
    display: inline-block;
    font-family: var(--system-ui-family);
    text-align: center;
    font-size: 14px;
    padding: 0 2px;
    /* letter-spacing: -0.5px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 64px;
}

#unihan-phonetics-unit .sheet .phonetics .combo .phonetics-readings.no-reading
{
    user-select: none;
    cursor: default;
}

#unihan-phonetics-unit .sheet .phonetics .combo .phonetics-char
{
    display: inline-block;
    margin: 1px 2px 2px 2px;
    padding: 3px;
    border: 1px solid transparent;
    font-family: sans-serif;
    font-size: 42px;
    line-height: 1em;
}

#unihan-phonetics-unit .sheet .phonetics .combo .phonetics-char
{
    border: 1px dotted var(--color-dimmed);
    cursor: default;
}

#unihan-phonetics-unit .sheet .phonetics .combo .phonetics-char.clickable
{
    border: 1px solid transparent;
}

#unihan-phonetics-unit .sheet .phonetics .combo .phonetics-char.clickable:hover
{
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9));
    cursor: pointer;
}

#unihan-phonetics-unit .sheet .phonetics .combo .phonetics-code-point
{
    display: inline-block;
    font-family: var(--monospace-family);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 1em;
    padding: 2px 3px;
    border: 1px solid var(--color-border);
    border-radius: 2px;
    background-color: var(--color-bg);
    margin-bottom: 8px;
}

#unihan-phonetics-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#unihan-phonetics-unit .instructions li
{
    margin: 0.25em 0;
}

#unihan-phonetics-unit .instructions li > ul
{
    margin: 0 0 0.25em 0;
}

#unihan-phonetics-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em 1px;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unihan-phonetics-unit .instructions code
{
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unihan-phonetics-unit .instructions code.select-all
{
    user-select: all;
    cursor: text;
}

#unihan-phonetics-unit details
{
    margin: 1.2em 0;
}

#unihan-phonetics-unit details[open] summary
{
    margin: 1.2em 0;
}

#unihan-phonetics-unit summary
{
    font-weight: bold;
}

