<section id="unihan-phonetics-unit">
    <div class="plain-panel">
        <div class="interface">
            <span class="option-group">
                <button class="pull-down-menu history-button" type="button" title="Lookup History"><svg class="history"><use href="/images/actions.svg#history"></use></svg></button>
                <input class="unihan-input" type="search" maxlength="64" title="Unihan character or code point" placeholder="Unihan…">
                <button class="look-up-button" type="button">Look Up</button>
            </span>
            <span class="option-group">
            </span>
        </div>
        <div class="interface bis">
            <span class="action-group">
                <span class="character-reference"></span>
            </span>
            <span class="option-group">
                <label class="sort">
                    Sorted by:&nbsp;
                    <select class="sort-select">
                        <option value="code-points">Code Points</option>
                        <option value="total-strokes">Total Strokes</option>
                        <option value="radical-strokes">Radical-Strokes</option>
                    </select>
                </label>
            </span>
        </div>
        <div class="sheet"></div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>The <strong>Unihan Phonetics</strong> utility displays information about Unihan phonetic groups, based on the <a title="https://www.unicode.org/reports/tr38/#kPhonetic" href="https://www.unicode.org/reports/tr38/#kPhonetic">kPhonetic</a> property data of the Unihan database.</li>
                <li>Any Unihan character (excluding CJK <em>compatibility</em> ideographs) defined in <strong>Unicode 16.0</strong> can be entered in the <kbd>Unihan</kbd> input field, either as a character or a code point. Click on the <kbd>Look Up</kbd> button to display the phonetic groups the character appears into, if any.</li>
                <li>Previously looked up characters are kept in a history stack; use the <kbd>Alt</kbd>+<kbd>↑</kbd> and <kbd>Alt</kbd>+<kbd>↓</kbd> keyboard shortcuts to navigate through them up and down inside the input field. Alternatively, you can also use the <kbd>Lookup&nbsp;History&nbsp;▾</kbd> pop-up menu to automatically look up a specific character.</li>
                <li>Use the <kbd>Sorted by</kbd> drop-down menu to select how characters are sorted in a phonetic group, among: <code>Code Points</code>, <code>Total Strokes</code>, and <code>Radical-Strokes</code>.</li>
            </ul>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
