<section id="unihan-radical-strokes-unit">
    <div class="plain-panel">
        <div class="actions">
            <div class="action-group">
                <span class="action">
                    <label>Set:&nbsp;<select class="set-select"><option value="IICore">IICore</option><option value="U-Core">Unihan Core</option><option value="Full">Full Unihan</option></select></label>
                </span>
                <span class="action">
                    <label class="checkbox" title="If checked, the search uses all radical/strokes source properties;&#10;if unchecked, it only uses the IRG-defined source property common to all Unihan characters"><input class="extra-sources-checkbox" type="checkbox">&nbsp;Extra R/S Sources</label>
                </span>
            </div>
            <div class="action-group">
                <span class="action">
                    <label title="KangXi radical">Radical:&nbsp;<select class="radical-select"></select></label>
                    <label title="Additional stroke count">+&nbsp;Strokes:&nbsp;<select class="strokes-select"></select></label>
                </span>
                <span class="action">
                    <button class="search-button" type="button">Search</button>
                </span>
            </div>
        </div>
        <div class="results">
            <button class="pull-down-menu results-button" type="button" title="Search Results"><svg class="gear"><use href="/images/actions.svg#gear"></use></svg></button><span class="results-string">Characters:&nbsp;<span class="hit-count"></span>&nbsp;/&nbsp;<span class="total-count"></span></span>
        </div>
        <div class="search-data"></div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>The <strong>Unihan Radical-Strokes</strong> utility displays all the Unihan characters searched by KangXi radical and additional stroke count.</li>
                <li>
                    Use the <kbd>Set</kbd> drop-down menu to perform the search on a specified Unihan set:
                    <ul>
                        <li><code>IICore</code>: the IICore set of 9,810 CJK unified ideographs in common usage,</li>
                        <li><code>Unihan Core</code>: the Unihan core set (2020) of 20,720 CJK unified and compatibility ideographs, minimal set of required ideographs for East Asia,</li>
                        <li><code>Full Unihan</code>: the full set of 98,682 Unihan characters.</li>
                    </ul>
                </li>
                <li>Use the <kbd>Extra R/S Sources</kbd> checkbox to extend the search to all radical/strokes source properties, or use only the IRG-defined source property common to all Unihan characters.</li>
                <li>Use the <kbd>Radical</kbd> and <kbd>Strokes</kbd> drop-down menus to select the KangXi radical and the additional stroke count of the Unihan characters you are looking for, then click on the <kbd>Search</kbd> button.</li>
                <li>If the number of additional strokes is negative, 0 is used instead. For example, the Unihan character 王 gets listed under 'Radical 96 ⽟ (Jade)' + '0 Stroke', although its additional stroke count is -1.</li>
                <li>Selecting <code>All</code> from the <kbd>Strokes</kbd> menu lets you display all the Unihan characters sharing the same KangXi radical, sorted by additional stroke count.</li>
                <li>Use the <kbd>Search Results&nbsp;▾</kbd> pop-up menu to perform an action among:
                    <ul>
                        <li><code>Copy Search Results</code> [copy the search results as string to the clipboard]</li>
                        <li><code>Save Search Results...</code> [save the search results as string to a text file]</li>
                        <li><code>Clear Search Results</code> [clear the current list of search results]</li>
                    </ul>
                </li>
                <li>A complete list of the 214 KangXi radicals is available for reference, showing also variant forms as well as simplified forms.</li>
            </ul>
        </details>
        <details class="radical-list">
            <summary>KangXi Radical List</summary>
            <div class="radicals"></div>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
