@charset "utf-8";

#unihan-inspector-unit .plain-panel
{
    padding-bottom: 0.75em;
}

#unihan-inspector-unit .interface
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin: 0.5em 0 0.75em 0;
}

#unihan-inspector-unit .option-group
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
}

#unihan-inspector-unit .option-group + .option-group
{
    margin-left: 1em;
}

#unihan-inspector-unit .option + .option
{
    margin-left: 1.5em;
}

#unihan-inspector-unit .history-button
{
    padding: 1px 6px;
    margin-right: 0.75em;
    user-select: none;
    white-space: nowrap;
}

#unihan-inspector-unit .history-button::after
{
    top: -2px;
}

#unihan-inspector-unit .history-button svg.history
{
    width: 21px;
    height: 21px;
    vertical-align: text-bottom;
    margin-right: -0.25em;
}

#unihan-inspector-unit .unihan-input
{
    font-family: var(--sans-serif-family);
    font-size: 16px;
    line-height: 1.333em;
    padding: 2px 6px;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    width: 7.5em;
    margin-right: 0.5em;
}

#unihan-inspector-unit .unihan-input.invalid
{
    color: var(--color-error);
    outline-color: var(--color-error);
}

#unihan-inspector-unit .random-button
{
    margin-left: 0.75em;
}

#unihan-inspector-unit .character-data
{
    display: flex;
    flex-direction: row;
    margin: 1.25em 0 0.75em 0;
}

#unihan-inspector-unit .unihan-card
{
    background: white;
    border: 2px solid var(--color-border);
    text-align: center;
    width: 108px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0.5em 1em; */
    /* justify-content: center; */
    user-select: text;
    cursor: text;
}

#unihan-inspector-unit .unihan-wrapper
{
    margin: 1.2em 0;
}

#unihan-inspector-unit .unihan-radical-tag
{
    margin: 0.25em 0.5em 0 0.5em;
    /* color: var(--color-accent); */
    font-style: italic;
}

#unihan-inspector-unit .unihan-card .unihan-character
{
    display: inline-block;
    font-family: var(--unihan-family);
    font-size: 72px;
    line-height: 1em;
    width: 1.5em;
    height: 1.5em;
}

#unihan-inspector-unit .unihan-card .unihan-character:lang(ja)
{
    font-family: "Sans CJK JP", "NotDef";
}

#unihan-inspector-unit .unihan-card .unihan-character:lang(ko)
{
    font-family: "Sans CJK KR", "NotDef";
}

#unihan-inspector-unit .unihan-card .unihan-character:lang(zh-Hans)
{
    font-family: "Sans CJK SC", "NotDef";
}

#unihan-inspector-unit .unihan-card .unihan-character:lang(zh-Hant-TW)
{
    font-family: "Sans CJK TC", "NotDef";
}

#unihan-inspector-unit .unihan-card .unihan-character:lang(zh-Hant-HK)
{
    font-family: "Sans CJK HK", "NotDef";
}

#unihan-inspector-unit .unihan-card .unihan-code-point
{
    display: inline-block;
    font-family: var(--monospace-family);
    font-size: 13.5px;
    font-weight: bold;
    margin-bottom: 1em;
    border: 1px solid var(--color-border);
    /* border-radius: 5px; */
    background-color: var(--color-bg);
    padding: 0 5px;
}

#unihan-inspector-unit .unihan-card .unihan-code-point.compatibility
{
    font-style: italic;
}

#unihan-inspector-unit .unihan-card .filler
{
    margin-top: -1.4em;
}

#unihan-inspector-unit .unihan-card .typeface-widget
{
    display: inline-flex;
    color: white;
    background-color: var(--color-accent);
    align-items: center;
    font-size: 12px;
    line-height: 12px;
    padding: 1px 3px 2px 3px;
    border-radius: 4px;
    margin-bottom: 0.5em;
    user-select: none;
    cursor: default;
}

#unihan-inspector-unit .unihan-card .typeface-widget.default
{
    background-color: #999999;
}

#unihan-inspector-unit .unihan-card .typeface-previous,
#unihan-inspector-unit .unihan-card .typeface-next
{
    padding: 4px;
}

#unihan-inspector-unit .unihan-card .default .typeface-previous,
#unihan-inspector-unit .unihan-card .default .typeface-next
{
    visibility: hidden;
}

#unihan-inspector-unit .unihan-card .typeface-previous svg.previous-icon,
#unihan-inspector-unit .unihan-card .typeface-next svg.next-icon
{
    width: 12px;
    height: 12px;
    vertical-align: middle;
    fill: currentColor;
}

#unihan-inspector-unit .unihan-card .typeface-tag
{
    text-align: center;
    font-weight: 600;
    width: 24px;
    padding: 4px 0;
}

#unihan-inspector-unit .unicode-info,
#unihan-inspector-unit .unihan-info
{
    font-family: var(--monospace-family);
    font-size: 13.5px;
    line-height: 1.25em;
    background: white;
    border: 2px solid var(--color-border);
    /* border-radius: 8px; */
    text-align: left;
    padding: 0.5em 1em;
    margin-left: 0.9em;
    user-select: text;
    cursor: text;
}

#unihan-inspector-unit .unicode-info
{
    flex-basis: 100%;
}

#unihan-inspector-unit .unihan-info
{
    flex-basis: 100%;
}

#unihan-inspector-unit .unihan-info .invalid-unihan
{
    font-style: italic;
    line-height: 1.333em;
}

#unihan-inspector-unit .unicode-info .field,
#unihan-inspector-unit .unihan-info .field
{
    margin: 0.35em 0;
}

#unihan-inspector-unit .unicode-info .field .name,
#unihan-inspector-unit .unihan-info .field .name
{
    font-weight: 600;
    color: var(--color-strongest);
}

#unihan-inspector-unit .unihan-info .field .list
{
    margin: 0 0 0 -24px;
}

#unihan-inspector-unit .unihan-info .field .list .item
{
    margin: 0.1em 0;
    /* white-space: nowrap */
}

#unihan-inspector-unit .unihan-info .field .list .item.irg-source,
#unihan-inspector-unit .unihan-info .field .list .item.cjk-radical-current,
#unihan-inspector-unit .unihan-info .field .value.kangxi-radical-current
{
    list-style-type: disc;
}

#unihan-inspector-unit .unihan-info .field .list .item.no-irg-source,
#unihan-inspector-unit .unihan-info .field .list .item.cjk-radical,
#unihan-inspector-unit .unihan-info .field .value.kangxi-radical
{
    color: var(--color-dimmed);
    list-style-type: circle;
}

#unihan-inspector-unit span.unihan-character-link
{
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 1px;
    margin: auto -1px;
    white-space: nowrap;
}

#unihan-inspector-unit span.unihan-character-link span.char
{
    font-size: 16px;
}

#unihan-inspector-unit span.unihan-character-link span.code-point
{
    font-size: inherit;
}

#unihan-inspector-unit span.unihan-character-link:hover
{
    border: 1px dotted var(--color);
    cursor: default;
}

#unihan-inspector-unit span.unihan-character-link.clickable:hover
{
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9));
    cursor: pointer;
}

#unihan-inspector-unit .properties-data
{
    margin: 1em 0 0.75em 0;
}

#unihan-inspector-unit .properties-data .properties-list
{
    font-size: 13.5px;
    margin: 0.75em 0;
    user-select: text;
    cursor: text;
}

#unihan-inspector-unit .properties-data .properties-list .list
{
    margin: 0;
    list-style-type: square;
}

#unihan-inspector-unit .properties-data .properties-list .list .item
{
    margin-left: -24px;
}

#unihan-inspector-unit .properties-data .properties-list .list .item + .item
{
    margin-top: 0.25em;
}

#unihan-inspector-unit .properties-data .properties-list .property-header,
#unihan-inspector-unit .properties-data .properties-list .value-header
{
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    padding: 0.5em 0.75em;
}

#unihan-inspector-unit .properties-data .properties-list .category-row .category-name
{
    background-color: white;
    color: var(--color-accent);
    text-align: left;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.25em;
    padding: 0.5em 0.75em;
}

#unihan-inspector-unit .properties-data .properties-list .category-row .category-name::before
{
    content: "◎\A0";
    font-size: 1.05em;
}

#unihan-inspector-unit .properties-data .properties-list .property,
#unihan-inspector-unit .properties-data .properties-list .value
{
    font-family: var(--monospace-family);
    background-color: white;
    text-align: left;
    line-height: 1.25em;
    padding: 0.4em 0.8em;
}

#unihan-inspector-unit .properties-data .properties-list .property
{
    white-space: nowrap;
    font-weight: 600;
    color: var(--color-strongest);
}

#unihan-inspector-unit .properties-data .properties-list .value
{
    width: 100%;
    word-break: break-word;
}

#unihan-inspector-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#unihan-inspector-unit .instructions li
{
    margin: 0.25em 0;
}

#unihan-inspector-unit .instructions li > ul
{
    margin: 0 0 0.25em 0;
}

#unihan-inspector-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em 1px;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unihan-inspector-unit .instructions code
{
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unihan-inspector-unit details
{
    margin: 1.2em 0;
}

#unihan-inspector-unit details[open] summary
{
    margin: 1.2em 0;
}

#unihan-inspector-unit summary
{
    font-weight: bold;
}

