<section id="unihan-inspector-unit">
    <div class="plain-panel">
        <div class="interface">
            <span class="option-group">
                <button class="pull-down-menu history-button" type="button" title="Lookup History"><svg class="history"><use href="/images/actions.svg#history"></use></svg></button>
                <input class="unihan-input" type="search" maxlength="64" title="Unihan character or code point" placeholder="Unihan…">
                <button class="look-up-button" type="button">Look Up</button>
            </span>
            <span class="option-group">
                <label>Set:&nbsp;<select class="random-set-select"><option value="IICore">IICore</option><option value="U-Core">Unihan Core</option><option value="Full">Full Unihan</option></select></label>
                <button class="random-button" type="button">Random</button>
            </span>
        </div>
        <div class="info-container"></div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>The <strong>Unihan Inspector</strong> utility displays all the available Unihan properties for each of the 98,682 Unihan characters defined in <strong>Unicode 16.0</strong>, in the set of data files contained in the <a title="https://www.unicode.org/Public/16.0.0/ucd/Unihan.zip" href="https://www.unicode.org/Public/16.0.0/ucd/Unihan.zip">Unihan.zip</a> archive file:
                    <ul>
                        <li><em>Unihan_DictionaryIndices.txt</em></li>
                        <li><em>Unihan_DictionaryLikeData.txt</em></li>
                        <li><em>Unihan_IRGSources.txt</em></li>
                        <li><em>Unihan_NumericValues.txt</em></li>
                        <li><em>Unihan_OtherMappings.txt</em></li>
                        <li><em>Unihan_RadicalStrokeCounts.txt</em></li>
                        <li><em>Unihan_Readings.txt</em></li>
                        <li><em>Unihan_Variants.txt</em></li>
                    </ul>
                </li>
                <li>Any Unihan character can be entered in the <kbd>Unihan</kbd> input field either as a character or a code point. Click on the <kbd>Look Up</kbd> button to display the list of Unihan properties.</li>
                <li>In addition, the utility provides, for each Unihan character:
                    <ul>
                        <li>basic Unicode information: name, age, plane, block, script, script extensions, general category, extended properties, decomposition, standardized variation, equivalent unified ideograph;</li>
                        <li>basic Unihan information: set (<em>IICore</em>, <em>Unihan Core 2020</em>, <em>Full Unihan</em>), status (<em>unified</em> or <em>compatibility</em> ideograph), compatibility source, radical/strokes, total strokes, definition, numeric value, cross-referenced characters, variant characters.</li>
                    </ul>
                </li>
                <li>Basic radical information can also be obtained for the 214 KangXi radicals and the 115 additional CJK radicals.</li>
                <li>Previously looked up characters are kept in a history stack; use the <kbd>Alt</kbd>+<kbd>↑</kbd> and <kbd>Alt</kbd>+<kbd>↓</kbd> keyboard shortcuts to navigate through them up and down inside the input field. Alternatively, you can also use the <kbd>Lookup&nbsp;History&nbsp;▾</kbd> pop-up menu to automatically look up a specific character.</li>
                <li>
                    It is also possible to look up a randomly selected Unihan character by clicking on the <kbd>Random</kbd> button; use the <kbd>Set</kbd> drop-down menu to perform the draw on a specified Unihan set:
                    <ul>
                        <li><code>IICore</code>: the IICore set of 9,810 CJK unified ideographs in common usage,</li>
                        <li><code>Unihan Core</code>: the Unihan core set (2020) of 20,720 CJK unified and compatibility ideographs, minimal set of required ideographs for East Asia,</li>
                        <li><code>Full Unihan</code>: the full set of 98,682 Unihan characters.</li>
                    </ul>
                </li>
                <li>The currently looked up character is displayed at a large scale, followed by its code point.</li>
                <li>Click on <kbd>◀</kbd> or <kbd>▶</kbd> to step through five different CJK typefaces, among:
                    <ul>
                        <li><code>JP</code>: Japanese</li>
                        <li><code>KR</code>: Korean</li>
                        <li><code>SC</code>: Simplified Chinese</li>
                        <li><code>TC</code>: Traditional Chinese (Taiwan)</li>
                        <li><code>HK</code>: Traditional Chinese (Hong Kong)</li>
                    </ul>
                </li>
                <li>If a character cannot be properly rendered in the five CJK typefaces, the system default typeface is automatically used instead.</li>
                <li>Use the <kbd>Categories</kbd> checkbox to toggle between: all Unihan properties ordered alphabetically, or grouped by categories.</li>
                <li>Variant characters, if any, are listed under several classes in the basic Unihan information panel:
                    <ul>
                        <li><code>Unified Variant</code>: decomposition of the looked up character</li>
                        <li><code>Compatibility Variants</code>: characters whose decomposition is the looked up character</li>
                        <li><code>Semantic Variants</code>: characters listed under the <em>kSemanticVariant</em> Unihan property</li>
                        <li><code>Specialized Variants</code>: characters listed under the <em>kSpecializedSemanticVariant</em> Unihan property</li>
                        <li><code>Spoofing Variants</code>: characters listed under the <em>kSpoofingVariant</em> Unihan property</li>
                        <li><code>Shape (Z-) Variants</code> characters listed under the <em>kZVariant</em> Unihan property</li>
                        <li><code>Simplified Variants</code>: characters listed under the <em>kSimplifiedVariant</em> Unihan property</li>
                        <li><code>Traditional Variants</code>: characters listed under the <em>kTraditionalVariant</em> Unihan property</li>
                        <li><code>Shinjitai Variants</code>: Japanese simplified character variants (新字体)</li>
                        <li><code>Kyūjitai Variants</code>: Japanese traditional character variants (旧字体)</li>
                        <li><code>Yasuoka Variants</code>: characters drawn from the "Variants table for Unicode" data file <a title="http://kanji.zinbun.kyoto-u.ac.jp/~yasuoka/ftp/CJKtable/UniVariants.Z" href="http://kanji.zinbun.kyoto-u.ac.jp/~yasuoka/ftp/CJKtable/UniVariants.Z">UniVariants.txt</a> provided by Prof. <a title="http://kanji.zinbun.kyoto-u.ac.jp/~yasuoka/" href="http://kanji.zinbun.kyoto-u.ac.jp/~yasuoka/">Kōichi Yasuoka</a></li>
                    </ul>
                </li>
                <li>Notes:
                    <ul>
                        <li>The top Radical/Strokes fields are displaying data obtained from the only informative IRG source: <em>kRSUnicode</em>, while the bottom ones (in grayed-out style, if any) make use of the provisional source: <em>kRSAdobe_Japan1_6</em>.</li>
                        <li>IICore (<em>International Ideographs Core</em>) represents a set of 9,810 important Unihan characters in everyday use throughout East Asia; it has been developed by the IRG.</li>
                        <li>IRG stands for <em>Ideographic Research Group</em>, formerly called <em>Ideographic Rapporteur Group</em>, a committee advising the Unicode Consortium about Asian language characters.</li>
                        <li>Radicals do <em>not</em> belong to the Unihan character set; they are allowed to be looked up here merely as a convenience, since they are closely related, and because their appearance is similar, or even identical, to their equivalent CJK unified ideograph.</li>
                    </ul>
                </li>
            </ul>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
