<section id="pan-cjk-font-variants-unit">
    <div class="plain-panel">
        <div class="actions">
            <span class="action-group">
                <span class="action">
                    <button class="clear-button" type="button">Clear</button>
                </span>
                <span class="action">
                    <button class="pull-down-menu characters-samples" type="button">Samples</button>
                </span>
            </span>
            <span class="action-group">
                <span class="count-info">Count:&nbsp;<span class="count-number">0</span>&nbsp;/&nbsp;<span class="total-count-number">0</span></span>
            </span>
            <span class="action-group">
                <span class="action">
                    <button class="load-button" type="button">Load...</button>
                </span>
                <span class="action">
                    <button class="save-button" type="button">Save...</button>
                </span>
            </span>
        </div>
        <div class="input-group">
            <input class="characters-input" type="text" maxlength="256" placeholder="Characters…">
            <input class="code-points-input" type="text" maxlength="2048" placeholder="Code points…">
        </div>
        <div class="actions interface">
            <span class="action-group">
                <span class="action">
                    <label>Writing Mode:
                        <select class="writing-mode-select">
                            <option value="horizontal">Horizontal</option>
                            <option value="vertical">Vertical</option>
                        </select>
                    </label>
                </span>
            </span>
            <span class="action-group">
                <span class="action">
                    <label>Font Weight:
                        <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#common_weight_name_mapping -->
                        <select class="font-weight-select">
                            <option value="200">Extra Light</option>
                            <option value="300">Light</option>
                            <option value="400">Regular</option>
                            <option value="500">Medium</option>
                            <option value="600">Semi Bold</option>
                            <option value="700">Bold</option>
                            <option value="800">Extra Bold</option>
                            <option value="900">Heavy</option>
                        </select>
                    </label>
                </span>
            </span>
            <span class="action-group">
                <span class="action">
                    <label>East Asian Variant:
                        <select class="east-asian-select">
                            <option value="normal">Normal</option>
                            <hr>
                            <option value="jis78">JIS X 0208:1978</option>
                            <option value="jis83">JIS X 0208:1983</option>
                            <option value="jis90">JIS X 0208:1990</option>
                            <option value="jis04">JIS X 0213:2004</option>
                            <hr>
                            <option value="simplified">Simplified Chinese</option>
                            <option value="traditional">Traditional Chinese</option>
                        </select>
                    </label>
                </span>
            </span>
        </div>
        <div class="graphemes-group">
            <span class="graphemes-info">Graphemes:&nbsp;<span class="graphemes-number">0</span></span>
        </div>
        <div class="sheet"></div>
    </div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>
                    The <strong>Pan-CJK Font Variants</strong> utility displays simultaneously any string of CJK (Chinese/Japanese/Korean) characters in five different typefaces belonging to the open-source set of <a title="https://github.com/adobe-fonts/source-han-sans" href="https://github.com/adobe-fonts/source-han-sans">Source Han Sans Fonts</a>:
                    <table class="fonts-table">
                        <tr><th>Language</th><th>Tag</th><th class="code">Code</th><th>Typeface</th></tr>
                        <tr><td>Japanese</td><td>ja</td><td class="code">JP</td><td>Source Han Sans</td></tr>
                        <tr><td>Korean</td><td>ko</td><td class="code">KR</td><td>Source Han Sans K</td></tr>
                        <tr><td>Simplified Chinese</td><td>zh-Hans</td><td class="code">SC</td><td>Source Han Sans SC</td></tr>
                        <tr><td>Traditional Chinese (Taiwan)</td><td>zh-Hant-TW</td><td class="code">TC</td><td>Source Han Sans TC</td></tr>
                        <tr><td>Traditional Chinese (Hong Kong)</td><td>zh-Hant-HK</td><td class="code">HK</td><td>Source Han Sans HC</td></tr>
                    </table>
                </li>
                <li>Additionally, it is possible to specify a set of logographic glyph variants for display by using the <kbd>East Asian Variant</kbd> drop-down menu.</li>
                <li>Font variants of the CJK characters can be visualized either vertically or horizontally. Use the <kbd>Writing Mode</kbd> drop-down menu to toggle between the two modes.</li>
                <li>Use the <kbd>Font Weight</kbd> drop-down menu to select the font weight of the CJK characters, among: <code>Extra Light</code>, <code>Light</code>, <code>Regular</code>, <code>Medium</code>, <code>Semi Bold</code>, <code>Bold</code>, <code>Extra Bold</code>, <code>Heavy</code>.</li>
                <li>Clicking inside any character frame displays momentarily the same glyph for all language flavors, while alt-clicking (or shift-clicking) applies to all characters of the string in a given language flavor. This is especially useful to quickly spot the differences between glyph variations. If the <kbd>⇪ Caps Lock</kbd> key is turned on as well, the differences are shown in contrasting colors instead.</li>
                <li>CJK characters can be entered either directly in the "Characters" input field, or using a series of code points in hexadecimal format in the "Code points" input field.</li>
                <li>It is also possible to input predefined strings of CJK characters selected from the <kbd>Samples&nbsp;▾</kbd> pop-up menu; some of them make use of the information found in the <a title="https://www.unicode.org/Public/16.0.0/ucd/StandardizedVariants.txt" href="https://www.unicode.org/Public/16.0.0/ucd/StandardizedVariants.txt">StandardizedVariants.txt</a> or <a title="https://www.unicode.org/ivd/data/2022-09-13/IVD_Sequences.txt" href="https://www.unicode.org/ivd/data/2022-09-13/IVD_Sequences.txt">IVD_Sequences.txt</a> data files.</li>
                <li>As a convenience, the input fields can be emptied using the <kbd>Clear</kbd> button.</li>
                <li>In output, the standard Unicode code point format <code class="select-all">U+7ADC</code> is used, i.e. "U+" directly followed by 4 or 5 hex digits.</li>
                <li>In input, more hexadecimal formats are allowed, including Unicode escape sequences, such as <code class="select-all">\u9F8D</code> or <code class="select-all">\u{20B9F}</code>. Moving out of the field or typing the Enter key converts all valid codes to standard Unicode code point format.</li>
            </ul>
        </details>
        <details class="references">
            <summary>Reference Links</summary>
            <div class="links"></div>
        </details>
    </div>
</section>
