<section id="emoji-picture-book-unit">
    <div class="plain-panel">
        <div class="interface">
            <span class="option">
                <select class="select-group"></select>
            </span>
            <span class="option">
                <input class="size-range" type="range" step="any">
            </span>
        </div>
    </div>
    <div class="group-container"></div>
    <div class="accent-panel">
        <details class="instructions">
            <summary>Instructions</summary>
            <ul>
                <li>The <strong>Emoji Picture Book</strong> utility displays lists of Unicode emoji in a color picture book fashion.</li>
                <li>
                    Any group of pictures can be displayed by selecting its name in the <kbd>Category</kbd> drop-down menu, among:
                    <ul>
                        <li><strong>Smileys & Emotion</strong></li>
                        <li><strong>People & Body</strong></li>
                        <li><strong>Component</strong></li>
                        <li><strong>Animals & Nature</strong></li>
                        <li><strong>Food & Drink</strong></li>
                        <li><strong>Travel & Places</strong></li>
                        <li><strong>Activities</strong></li>
                        <li><strong>Objects</strong></li>
                        <li><strong>Symbols</strong></li>
                        <li><strong>Flags</strong></li>
                    </ul>
                </li>
                <li>The size of all emoji pictures (from 32 to 128&nbsp;pixels) can be adjusted by moving the dedicated slider left and right.</li>
                <li>The groups and subgroups of emoji are those defined in the <strong>Emoji 16.0</strong> version of the <a title="https://www.unicode.org/Public/emoji/16.0/emoji-test.txt" href="https://www.unicode.org/Public/emoji/16.0/emoji-test.txt">emoji-test.txt</a> data file.</li>
                <li>Only the 9 <em>component</em> emoji and the 3,781 <em>fully-qualified</em> (<strong>RGI</strong>) forms of the emoji are used unless they cannot be displayed properly, depending on the emoji support level of the operating system.</li>
                <li>Emoji failing to be represented as proper color pictures are purely and simply discarded.</li>
                <li>Note: <strong>RGI</strong> stands for <em>Recommended for General Interchange</em>.</li>
            </ul>
        </details>
    </div>
</section>
